// Gutenberg color options
// -- see editor-color-palette in functions.php

$colors:    ( hkc-blue, #008dcf ),
            ( hkc-dkblue, #001e33 ),
            ( hkc-orange, #ff8000 ),
            ( hkc-green, #c4d600 ),
            ( hkc-ltgrey, #DDDDDD ),
            ( hkc-dkgrey, #52524f ),
            ( hkc-black, #000000 ),
            ( hkc-white, #FFFFFF );


/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color !important;
	}

	.has-#{$name}-background-color {
		background-color: $color !important;
	}
}