@import 'colors';

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1366px;

$global-small-margin: 20px;
$global-margin: 40px;
$global-medium-margin: 60px;
$global-large-margin: 100px;
$base-margin-vertical: 1em;
$align-margin-vertical: 0;

$global-small-gutter: 15px;
$global-gutter: 30px;
$global-medium-gutter: 50px;
$global-large-gutter: 70px;

$global-max-width: 1600px;
$global-max-width-plus-gutter: $global-max-width + (2 * $global-large-gutter);

$global-font-family: -apple-system, BlinkMacSystemFont, futura-pt, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-heading-font-family: -apple-system, BlinkMacSystemFont, Antidotum, Impact, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-xxlarge-font-size: 3.625rem;
$global-xlarge-font-size: 2.625rem;
$global-large-font-size: 2rem;
$global-font-size: 18px;
$base-h1-font-size-l: $global-xxlarge-font-size;
$base-h1-font-size-m: $base-h1-font-size-l * 0.7;
$base-h1-font-size: $base-h1-font-size-m * 0.85;
$base-h2-font-size-l: $global-xlarge-font-size;
$base-h2-font-size-m: $base-h2-font-size-l * 0.75;
$base-h2-font-size: $base-h2-font-size-m * 0.85;
$base-h3-font-size-l: $global-large-font-size;
$base-h3-font-size-m: $base-h3-font-size-l * 0.8;
$base-h3-font-size: $base-h3-font-size-m * 0.85;

$global-emphasis-color: #008dcf;