// 1. Custom variables and variable overwrites.

@import 'variables';
@import 'colors';

// 2. Import default variables and available mixins.
@import "lib/uikit/variables";
@import "lib/uikit/mixins";

// 3. Your custom mixin overwrites.

@mixin hook-base-misc() {
    * + p,
    * + ul,
    * + ol,
    * + dl,
    * + pre,
    * + address,
    * + fieldset,
    * + figure,
    * + h1, * + .uk-h1,
    * + h2, * + .uk-h2,
    * + h3, * + .uk-h3,
    * + h4, * + .uk-h4,
    * + h5, * + .uk-h5,
    * + h6, * + .uk-h6,
    * + .uk-heading-small,
    * + .uk-heading-medium,
    * + .uk-heading-large,
    * + .uk-heading-xlarge,
    * + .uk-heading-2xlarge {
        margin-top: 0;
    }
}

@mixin fifty-top {
    top: 50%;
    transform: translatey(-50%);
}

%fifty-top {
    @include fifty-top;
}

.fifty-top {
    @extend %fifty-top;
}

@mixin fifty-left {
    left: 50%;
    transform: translatex(-50%);
}

%fifty-left {
    @include fifty-left;
}

.fifty-left {
    @extend %fifty-left;
}



// 4. Import UIkit.
@import "lib/uikit/uikit.scss";

/* Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Container
	- Site Inner
- Common Classes
	- Avatar
	- WordPress
- Widgets
	- Featured Content
- Skip Links
- Site Header
	- Title Area
- Site Navigation
	- Responsive Menu
	- Header Menu
	- Footer Menu
- Content Area
	- Entry Content
	- Entry Meta
	- Pagination
	- Entry Comments
- Sidebar
- Footer Widgets
- Site Footer
- Plugins
	- WPForms
- Media Queries
	- Min-width: 960px
		- Site Header
		- Genesis Menu
		- Responsive Menu
		- Header Menu
		- Site Inner
		- Content
		- Sidebar
		- Author Box
		- After Entry
		- Column Classes
		- Entry Misc.
		- Footer Widgets
- Print Styles
*/


/* HTML5 Reset
---------------------------------------------------------------------------- */

/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
---------------------------------------------------------------------------- */
/* stylelint-disable */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}
/* stylelint-enable */

/* Reusable classes
---------------------------------------------------------------------------- */

.standard-padding {
    padding-left: $global-gutter !important;
    padding-right: $global-gutter !important;
    @media only screen and (min-width: $breakpoint-medium) {
        padding-left: $global-medium-gutter !important;
        padding-right: $global-medium-gutter !important;
    }
    @media only screen and (min-width: $breakpoint-xlarge) {
        padding-left: $global-large-gutter !important;
        padding-right: $global-large-gutter !important;
    }
    @media only screen and (min-width: $global-max-width-plus-gutter) {
		padding-left: 0 !important;
		padding-right: 0 !important;
    }
}

.standard-margin {
    margin-top: $global-margin !important;
    margin-bottom: $global-margin !important;
    @media only screen and (min-width: $breakpoint-medium) {
        margin-top: $global-medium-margin !important;
        margin-bottom: $global-medium-margin !important;
    }
    @media only screen and (min-width: $breakpoint-xlarge) {
        margin-top: $global-large-margin !important;
        margin-bottom: $global-large-margin !important;
    }
}

.padding-margin {
    padding-top: $global-margin !important;
    padding-bottom: $global-margin !important;
    @media only screen and (min-width: $breakpoint-medium) {
        padding-top: $global-medium-margin !important;
        padding-bottom: $global-medium-margin !important;
    }
    @media only screen and (min-width: $breakpoint-xlarge) {
        padding-top: $global-large-margin !important;
        padding-bottom: $global-large-margin !important;
    }
}

/* Box Sizing
--------------------------------------------- */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

@font-face {
    font-family: 'Antidotum';
    src: url('Antidotum.eot');
    src: url('Antidotum.eot?#iefix') format('embedded-opentype'),
         url('Antidotum.woff2') format('woff2'),
         url('Antidotum.woff') format('woff'),
         url('Antidotum.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	overflow-x: hidden;
}

h1, .uk-h1,
h2, .uk-h2,
h3, .uk-h3 {
	font-family: $global-heading-font-family;
}

h1, .uk-h1 {
	@media (min-width: $breakpoint-xlarge) {
		font-size: $base-h1-font-size-l;
	}
}

h2, .uk-h2 {
	@media (min-width: $breakpoint-xlarge) {
		font-size: $base-h2-font-size-l;
	}
}
h3, .uk-h3 {
	@media (min-width: $breakpoint-xlarge) {
		font-size: $base-h3-font-size-l;
	}
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.35s ease-in-out;
}

a {
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}

/* Headings
--------------------------------------------- */


/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	width: 100%;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	opacity: 1;
}

::placeholder {
	opacity: 1;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */


/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: 700;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}

/* Structure and Layout
---------------------------------------------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	animation: fadein 1s;
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin: 0 auto;
}

/* Content/Sidebar Wrap
--------------------------------------------- */

.content-sidebar-wrap {
	max-width: $global-max-width;
	margin-left: auto;
	margin-right: auto;
}

/* Common Classes
---------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 20px;
}

.alignright .avatar {
	margin-left: 20px;
}

.comment .avatar {
	margin: 0 15px 20px 0;
}

/* WordPress
--------------------------------------------- */


/* Widgets
---------------------------------------------------------------------------- */


/* Featured Content
--------------------------------------------- */


/* Skip Links
---------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link .skip-link-hidden {
	display: none;
	visibility: hidden;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}

/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	//background-color: black;
    @media (min-width: $breakpoint-medium) {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 9999;
        .admin-bar & {
            top: 32px;
        }
    }
}

/* Title Area
--------------------------------------------- */

.wp-custom-logo .title-area img {
	width: auto;
}

.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

/* Site Navigation
---------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;
    .menu-item {
        display: block;
        float: none;
        position: relative;
    }
    a {
        display: block;
        outline-offset: -1px;
        padding-bottom: 12px;
        padding-top: 12px;
        text-decoration: none;
    }
    .sub-menu {
        clear: both;
        display: none;
        left: -9999px;
        margin: 0;
        opacity: 1;
        position: static;
        z-index: 99;
        @media (min-width: $breakpoint-medium) {
            opacity: 0;
            position: absolute;
            transition: opacity 0.4s ease-in-out;
        }
        &, & a {
            width: 100%;
            @media (min-width: $breakpoint-medium) {
                width: 250px;
            }
        }
        a {
            position: relative;
            word-wrap: break-word;
            @media (min-width: $breakpoint-medium) {
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }
        .sub-menu {
            margin: -46px 0 0 249px;
        }
    }
    .menu-item {
        @media (min-width: $breakpoint-medium) {
            display: inline-block;
            &:focus, &:hover {
                position: relative;
            }
        }
        &:focus, &:hover {
            position: relative;
            > .sub-menu {
                display: block;
                left: auto;
                opacity: 1;
            }
        }
    }
}

/* Responsive Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-responsive-menu {
	display: none;
    position: relative;
    @media (min-width: $breakpoint-medium) {
		display: block;
    }
}

.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
	display: none;
}

.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	color: $global-emphasis-color;
}

.menu-toggle {
	float: right;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px 0;
	position: relative;
    z-index: 1000;
    @media (min-width: $breakpoint-medium) {
		display: none;
		visibility: hidden;
    }
}

.menu-toggle.activated::before {
	content: "\f335";
}

.site-header .menu-toggle::before {
	float: left;
	margin-right: 5px;
	position: relative;
	text-rendering: auto;
	top: 1px;
}

.sub-menu-toggle {
	float: right;
	padding: 9px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.sub-menu .sub-menu-toggle {
	padding: 12px 10px;
}

.sub-menu-toggle::before {
	display: inline-block;
	text-rendering: auto;
	transform: rotate(0);
	transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
	transform: rotate(180deg);
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
    width: 100%;
    @media (min-width: $breakpoint-medium) {
        clear: none;
        float: right;
        width: auto;
    }
}

/* Footer Menu
--------------------------------------------- */


/* Content Area
---------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */


/* Entry Meta
--------------------------------------------- */

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* Pagination
--------------------------------------------- */


/* Entry Comments
--------------------------------------------- */


/* Sidebar
---------------------------------------------------------------------------- */


/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	clear: both;
}

/* Site Footer
---------------------------------------------------------------------------- */


/* Plugins
---------------------------------------------------------------------------- */

/* WP Forms
--------------------------------------------- */


/* Print Styles
---------------------------------------------------------------------------- */

@media print {

	*,
	*::before,
	*::after {
		background: transparent !important;
		box-shadow: none !important;
		color: #333 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]::after,
	a[href^="#"]::after,
	.site-title > a::after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}
