/* Color Options
--------------------------------------------- */
.has-hkc-blue-color {
  color: #008dcf !important;
}

.has-hkc-blue-background-color {
  background-color: #008dcf !important;
}

.has-hkc-dkblue-color {
  color: #001e33 !important;
}

.has-hkc-dkblue-background-color {
  background-color: #001e33 !important;
}

.has-hkc-orange-color {
  color: #ff8000 !important;
}

.has-hkc-orange-background-color {
  background-color: #ff8000 !important;
}

.has-hkc-green-color {
  color: #c4d600 !important;
}

.has-hkc-green-background-color {
  background-color: #c4d600 !important;
}

.has-hkc-ltgrey-color {
  color: #DDDDDD !important;
}

.has-hkc-ltgrey-background-color {
  background-color: #DDDDDD !important;
}

.has-hkc-dkgrey-color {
  color: #52524f !important;
}

.has-hkc-dkgrey-background-color {
  background-color: #52524f !important;
}

.has-hkc-black-color {
  color: #000000 !important;
}

.has-hkc-black-background-color {
  background-color: #000000 !important;
}

.has-hkc-white-color {
  color: #FFFFFF !important;
}

.has-hkc-white-background-color {
  background-color: #FFFFFF !important;
}

/* Color Options
--------------------------------------------- */
.has-hkc-blue-color {
  color: #008dcf !important;
}

.has-hkc-blue-background-color {
  background-color: #008dcf !important;
}

.has-hkc-dkblue-color {
  color: #001e33 !important;
}

.has-hkc-dkblue-background-color {
  background-color: #001e33 !important;
}

.has-hkc-orange-color {
  color: #ff8000 !important;
}

.has-hkc-orange-background-color {
  background-color: #ff8000 !important;
}

.has-hkc-green-color {
  color: #c4d600 !important;
}

.has-hkc-green-background-color {
  background-color: #c4d600 !important;
}

.has-hkc-ltgrey-color {
  color: #DDDDDD !important;
}

.has-hkc-ltgrey-background-color {
  background-color: #DDDDDD !important;
}

.has-hkc-dkgrey-color {
  color: #52524f !important;
}

.has-hkc-dkgrey-background-color {
  background-color: #52524f !important;
}

.has-hkc-black-color {
  color: #000000 !important;
}

.has-hkc-black-background-color {
  background-color: #000000 !important;
}

.has-hkc-white-color {
  color: #FFFFFF !important;
}

.has-hkc-white-background-color {
  background-color: #FFFFFF !important;
}

.fifty-top {
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.fifty-left {
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

/* Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Container
	- Site Inner
- Common Classes
	- Avatar
	- WordPress
- Widgets
	- Featured Content
- Skip Links
- Site Header
	- Title Area
- Site Navigation
	- Responsive Menu
	- Header Menu
	- Footer Menu
- Content Area
	- Entry Content
	- Entry Meta
	- Pagination
	- Entry Comments
- Sidebar
- Footer Widgets
- Site Footer
- Plugins
	- WPForms
- Media Queries
	- Min-width: 960px
		- Site Header
		- Genesis Menu
		- Responsive Menu
		- Header Menu
		- Site Inner
		- Content
		- Sidebar
		- Author Box
		- After Entry
		- Column Classes
		- Entry Misc.
		- Footer Widgets
- Print Styles
*/
/* HTML5 Reset
---------------------------------------------------------------------------- */
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
---------------------------------------------------------------------------- */
/* stylelint-disable */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

/* stylelint-enable */
/* Reusable classes
---------------------------------------------------------------------------- */
.standard-padding {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

@media only screen and (min-width: 768px) {
  .standard-padding {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media only screen and (min-width: 1366px) {
  .standard-padding {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media only screen and (min-width: 1740px) {
  .standard-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.standard-margin {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

@media only screen and (min-width: 768px) {
  .standard-margin {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

@media only screen and (min-width: 1366px) {
  .standard-margin {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}

.padding-margin {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

@media only screen and (min-width: 768px) {
  .padding-margin {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}

@media only screen and (min-width: 1366px) {
  .padding-margin {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}

/* Box Sizing
--------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- */
.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table;
}

/* Defaults
---------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
@font-face {
  font-family: 'Antidotum';
  src: url("Antidotum.eot");
  src: url("Antidotum.eot?#iefix") format("embedded-opentype"), url("Antidotum.woff2") format("woff2"), url("Antidotum.woff") format("woff"), url("Antidotum.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1, .uk-h1,
h2, .uk-h2,
h3, .uk-h3 {
  font-family: -apple-system, BlinkMacSystemFont, Antidotum, Impact, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 1366px) {
  h1, .uk-h1 {
    font-size: 3.625rem;
  }
}

@media (min-width: 1366px) {
  h2, .uk-h2 {
    font-size: 2.625rem;
  }
}

@media (min-width: 1366px) {
  h3, .uk-h3 {
    font-size: 2rem;
  }
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

a {
  -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}

/* Headings
--------------------------------------------- */
/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}

/* Forms
--------------------------------------------- */
input,
select,
textarea {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-ms-input-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-webkit-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

/* Tables
--------------------------------------------- */
/* Screen Reader Text
--------------------------------------------- */
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: 700;
  height: auto;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.more-link {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

/* Structure and Layout
---------------------------------------------------------------------------- */
/* Site Container
--------------------------------------------- */
.site-container {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Site Inner
--------------------------------------------- */
.site-inner {
  clear: both;
  margin: 0 auto;
}

/* Content/Sidebar Wrap
--------------------------------------------- */
.content-sidebar-wrap {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* Common Classes
---------------------------------------------------------------------------- */
/* Avatar
--------------------------------------------- */
.avatar {
  border-radius: 50%;
  float: left;
}

.author-box .avatar,
.alignleft .avatar {
  margin-right: 20px;
}

.alignright .avatar {
  margin-left: 20px;
}

.comment .avatar {
  margin: 0 15px 20px 0;
}

/* WordPress
--------------------------------------------- */
/* Widgets
---------------------------------------------------------------------------- */
/* Featured Content
--------------------------------------------- */
/* Skip Links
---------------------------------------------------------------------------- */
.genesis-skip-link {
  margin: 0;
}

.genesis-skip-link .skip-link-hidden {
  display: none;
  visibility: hidden;
}

.genesis-skip-link li {
  height: 0;
  list-style: none;
  width: 0;
}

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px;
}

/* Site Header
---------------------------------------------------------------------------- */
@media (min-width: 768px) {
  .site-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .admin-bar .site-header {
    top: 32px;
  }
}

/* Title Area
--------------------------------------------- */
.wp-custom-logo .title-area img {
  width: auto;
}

.site-description,
.wp-custom-logo .site-title {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* Site Navigation
---------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%;
}

.genesis-nav-menu .menu-item {
  display: block;
  float: none;
  position: relative;
}

.genesis-nav-menu a {
  display: block;
  outline-offset: -1px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-decoration: none;
}

.genesis-nav-menu .sub-menu {
  clear: both;
  display: none;
  left: -9999px;
  margin: 0;
  opacity: 1;
  position: static;
  z-index: 99;
}

@media (min-width: 768px) {
  .genesis-nav-menu .sub-menu {
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
}

.genesis-nav-menu .sub-menu, .genesis-nav-menu .sub-menu a {
  width: 100%;
}

@media (min-width: 768px) {
  .genesis-nav-menu .sub-menu, .genesis-nav-menu .sub-menu a {
    width: 250px;
  }
}

.genesis-nav-menu .sub-menu a {
  position: relative;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .genesis-nav-menu .sub-menu a {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -46px 0 0 249px;
}

@media (min-width: 768px) {
  .genesis-nav-menu .menu-item {
    display: inline-block;
  }
  .genesis-nav-menu .menu-item:focus, .genesis-nav-menu .menu-item:hover {
    position: relative;
  }
}

.genesis-nav-menu .menu-item:focus, .genesis-nav-menu .menu-item:hover {
  position: relative;
}

.genesis-nav-menu .menu-item:focus > .sub-menu, .genesis-nav-menu .menu-item:hover > .sub-menu {
  display: block;
  left: auto;
  opacity: 1;
}

/* Responsive Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-responsive-menu {
  display: none;
  position: relative;
}

@media (min-width: 768px) {
  .genesis-responsive-menu {
    display: block;
  }
}

.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
  display: none;
}

.menu-toggle,
.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible;
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: transparent;
  border-width: 0;
  color: #008dcf;
}

.menu-toggle {
  float: right;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 0;
  position: relative;
  z-index: 1000;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
    visibility: hidden;
  }
}

.menu-toggle.activated::before {
  content: "\f335";
}

.site-header .menu-toggle::before {
  float: left;
  margin-right: 5px;
  position: relative;
  text-rendering: auto;
  top: 1px;
}

.sub-menu-toggle {
  float: right;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.sub-menu .sub-menu-toggle {
  padding: 12px 10px;
}

.sub-menu-toggle::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Header Menu
--------------------------------------------- */
.nav-primary {
  clear: left;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-primary {
    clear: none;
    float: right;
    width: auto;
  }
}

/* Footer Menu
--------------------------------------------- */
/* Content Area
---------------------------------------------------------------------------- */
/* Entry Content
--------------------------------------------- */
/* Entry Meta
--------------------------------------------- */
.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* Pagination
--------------------------------------------- */
/* Entry Comments
--------------------------------------------- */
/* Sidebar
---------------------------------------------------------------------------- */
/* Footer Widgets
---------------------------------------------------------------------------- */
.footer-widgets {
  clear: both;
}

/* Site Footer
---------------------------------------------------------------------------- */
/* Plugins
---------------------------------------------------------------------------- */
/* WP Forms
--------------------------------------------- */
/* Print Styles
---------------------------------------------------------------------------- */
@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #333 !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]::after,
  a[href^="#"]::after,
  .site-title > a::after {
    content: "";
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 2cm 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  .content,
  .content-sidebar {
    width: 100%;
  }
  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important;
  }
  .title-area {
    text-align: center;
    width: 100%;
  }
  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0;
  }
  .site-inner {
    padding-top: 0;
    position: relative;
  }
  .author-box {
    margin-bottom: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3;
  }
  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  blockquote,
  pre,
  table {
    page-break-inside: avoid;
  }
  dl,
  ol,
  ul {
    page-break-before: avoid;
  }
}
/*# sourceMappingURL=style-general.css.map */