$primaryblue: #008dcf;
$primaryorange: #f57f20;
$futurabt: futura-pt;
$antidotum: antidotum;

$breakpoint-xlarge:1366px;
$breakpoint-large:1024px;
$breakpoint-medium:768px;
$breakpoint-small:480px;

@import "sass/findadealer";
@import "sass/footer";
@import "sass/header";
@import "sass/contactform";
@import "sass/pagefindadealer";
@import "sass/contact";
@import "sass/events";
@import "sass/singleproduct";
@import "sass/camper";
//@import "sass/archive-shop";


//these containers are temporay fix ---->

.uk-container-custom {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
	padding-right: 15px;
}
.uk-container {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
//these containers are temporay fix end here---->


html {
    position: static;
	width: auto;
	//scroll-behavior: smooth;
}

body {
	font-family: $futurabt;
}
#genesis-mobile-nav-primary{
	display: none !important;
}

.content-sidebar-wrap {
	max-width: 100%;
}

.wp-block-image img {
    width: 100%;
}
.wp-block-coblocks-row__inner{
	display: flex;
}
hr.wp-block-separator.is-style-default {
	width: 70%;
    margin: 100px auto;
}

.wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > [class*="wp-block-"] {
	max-width: calc(9 * (100vw / 12.5)) !important;
	@media screen and (max-width:1140px){
		max-width: 100% !important;
		width: 100%;
		padding: 0px 50px;
	}
	@media screen and (max-width:789px){
		max-width: 100% !important;
		width: 100%;
		padding: 0px 20px;
	}
}

/* Drop Caps
---------------------------------------------------------------------------- */
.site-container p.has-drop-cap:not(:focus)::first-letter {
	margin: 0.02em 0.08em 0 -0.08em;
  }
  
  .site-container p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
  .site-container p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
	margin-right: 0.01em;
  }
  
  /* Paragraphs
  ---------------------------------------------------------------------------- */
  .alignfull:not(.has-background) .wp-block-group__inner-container > p:not(.has-background-color) {
	padding-left: 30px;
	padding-right: 30px;
  }
  
  /* Headings
  ---------------------------------------------------------------------------- */
  h1.light,
  h2.light,
  h3.light,
  h4.light,
  h5.light,
  h6.light {
	color: #f5f5f5;
  }

  h4 {
	font-family: futura-pt;
	font-size: 40px;
	letter-spacing: 14px;
	margin: 0;
	@media screen and (max-width:$breakpoint-large){
		font-size: 30px;
		letter-spacing: 10px;
	}
	@media screen and (max-width:$breakpoint-small){
	}
}
  
  h1 {
	font-family: antidotum;
	font-size: 78px;
	margin-top: 0;
	&:after {
		content: "";
		display: block;
		width: 10%;
		margin: 20px auto 0;
		border-bottom: 8px solid $primaryblue;
	}
	@media screen and (max-width:$breakpoint-large){
		font-size: 50px;
	}
	@media screen and (max-width:$breakpoint-small){
		//font-size: 30px;
		padding: 0px 20px;
	}
  }

  h2 {
	font-family: antidotum;
	font-size: 78px;
	margin-top: 0;
	&:after {
		content: "";
		display: block;
		width: 10%;
		margin: 20px auto 0;
		border-bottom: 8px solid $primaryblue;
	}
	@media screen and (max-width:$breakpoint-large){
		font-size: 55px;
	}
	@media screen and (max-width:$breakpoint-small){
		//font-size: 30px;
	}
  }
  h4{
	  color: #000;
  }

  h3 {
	font-family: antidotum;
	margin-bottom: 10px;
  } 

  .wp-block-group{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	@media only screen and (max-width: 480px) {
		padding: 0px 15px;
	}
	
	.ecs-event-list{
		text-align: center;
		.ecs-event{
		  position: relative;
		  display: inline-block;
		  max-width: 465px;
		  text-align: center;
		  width: 100%;
		  margin-bottom: 30px;
		 
		  @media only screen and (max-width: 480px) {
			max-width: 100%x;
		  }

		  h4{
			//font-size: 20px;
			letter-spacing: 0px;
			width: 100%;
			max-width: 435px;
			position: absolute;
			top: 0px;
			left: 15px;
			padding: 25px 15px;
			background: #f57f20;
			color: #fff;
			font-size: 30px;
			line-height: 40px;
			transition: all 300ms;
			@media only screen and (max-width: 480px) {
				left: 0px;
			}
			
			a{
				text-decoration: none;
				transition: all 300ms;
				
			}
			
			}
			a{
				img{
					max-width: 435px;
					width: 100%;
				}
			}
			.duration{
				position: absolute;
				left: 15px;

				width: 100%;
				max-width: 435px;
				height: 30%;
				background: rgba(255,255,255,0.8);
				bottom: 0;
				font-size: 30px;
				color: #000;
				padding: 60px 10px;
				transition: all 300ms;
				cursor: pointer;
				@media only screen and (max-width: 480px) {
					left: 0px;
				}
			}
			&:hover{
				.duration{
					height: 50%;
				}
				h4{
					a{
						
							color: #000000;
						
					}
				}
			}
		}
	}
}

  .uk-card-default {
	  height: 100%;
  }
  
  /* Background Color
  ---------------------------------------------------------------------------- */
  .site-container p.has-background {
	padding: 25px 30px;
  }
  
  .site-container p.has-background.box-shadow {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .site-container p.has-text-color a,
  .site-container p.has-background a {
	color: inherit;
  }
  
  .site-container p.has-background a:focus,
  .site-container p.has-background a:hover,
  .site-container p.has-text-color a:focus,
  .site-container p.has-text-color a:hover {
	color: inherit;
	text-decoration: none;
  }
  
  .site-container p.has-background.light-text a {
	color: #fff;
	text-decoration: underline;
  }
  
  .site-container p.has-background.light-text a:focus,
  .site-container p.has-background.light-text a:hover {
	text-decoration: none;
  }
  
  /* Alignment
  ---------------------------------------------------------------------------- */
  .has-text-align-center {
	text-align: center;
  }
  
  .has-text-align-left {
	text-align: left;
  }
  
  .has-text-align-right {
	text-align: right;
  }
  
  .wp-block-button.alignleft,
  .wp-block-cover.alignleft,
  .wp-block-image .alignleft {
	margin-right: 2em;
  }
  
  .wp-block-button.alignright,
  .wp-block-cover.alignright,
  .wp-block-image .alignright {
	margin-left: 2em;
  }

  .campers-intro-buttons {
	//padding-top: 20px;
	padding-top: 100px;		
	@media screen and (max-width:$breakpoint-medium){
		padding-top: 50px;		
	}
	
	.uk-button{
		width: 280px;
		height: 60px;
		font-size: 30px;
		line-height: 40px;
		padding: 0 15px;
		@media screen and (max-width:$breakpoint-medium){
			width: 260px;
			height: 45px;
			font-size: 20px;
			line-height: 25px;
			
		}
	}	
	.uk-button-black{
		@media screen and (max-width:$breakpoint-medium){
			margin-bottom: 15px;
		}
	}
	@media (min-width: 768px) {
	//	float: right;
	}
	button:first-of-type {			
		@media (min-width: 768px) {
			margin-right: 20px;
		}
	}
}	
  
  .wp-block-image.alignwide,
  .wp-block-image.alignfull,
  .wp-block-embed.alignwide,
  .wp-block-embed.alignfull {
	margin-bottom: 30px;
  }
  
  .full-width-content .entry-content > .alignfull {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
  }
  
  .content-sidebar .site-container .alignfull,
  .sidebar-content .site-container .alignfull {
	margin: 0 0 2em;
	width: 100%;
  }

  @media only screen and (max-width: 600px) {
	.wp-block-button.home-contact {
	  float: left;
	  margin-left: 0;
	}
  }


  
  /* Columns
  ---------------------------------------------------------------------------- */
  .site-container .wp-block-columns.alignfull {
	padding: 0 30px;
  }
  
  /* Cover Image
  ---------------------------------------------------------------------------- */
  .full-width-content .entry-content > .wp-block-cover.alignfull {
	width: 100vw;
  }
  
  .site-container .wp-block-cover .wp-block-cover-text {
	font-size: 48px;
  }
  
  /* Buttons
  ---------------------------------------------------------------------------- */
  .ab-block-cta .ab-button {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
  }
  
  .site-container .wp-block-button .wp-block-button__link {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 28px 10px;
    vertical-align: middle;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
	text-decoration: none;
	
	width: 100%;
	max-width: 280px;
	@media screen and (max-width:$breakpoint-medium){
		max-width: 260px;
		font-size: 20px;
		line-height: 25px;
	}


  }
  
  .site-container .wp-block-button.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 2px solid currentColor;
	padding: 13px 28px;
  }
  
  .site-container .wp-block-button .wp-block-button__link:focus,
  .site-container .wp-block-button .wp-block-button__link:hover,
  .site-container .wp-block-button.is-style-outline .wp-block-button__link:focus,
  .site-container .wp-block-button.is-style-outline .wp-block-button__link:hover {
	-webkit-box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.25);
			box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.25);
  }
  
.uk-button-black {
	background-color: #000;
    color: #fff;
    border: 1px solid transparent;
}

.uk-button-orange {
	background-color: $primaryorange;
    color: #fff;
    border: 1px solid transparent;
}

  /* Blockquotes and captions
  ---------------------------------------------------------------------------- */
  .site-container .wp-block-pullquote,
  .site-container .wp-block-quote {
	border: none;
	margin: 24px 24px 36px;
  }
  
  .wp-block-pullquote.alignleft {
	margin: 0 2em 1.5em 0;
  }
  
  .wp-block-pullquote.alignright {
	margin: 0 0 1.5em 2em;
  }
  
  .site-container .wp-block-pullquote p,
  .site-container .wp-block-quote p {
	font-family: "Source Sans Pro", serif;
	font-size: 21px;
	font-style: italic;
	line-height: 1.8;
	margin-bottom: 42px;
  }
  
  .site-container .wp-block-pullquote p,
  .site-container .wp-block-quote.is-style-large p {
	font-size: 32px;
  }
  
  .site-container .wp-block-pullquote.is-style-solid-color p {
	color: #fff;
	margin-bottom: 42px;
	text-align: center;
  }
  
  .site-container .wp-block-pullquote.is-style-solid-color {
	background-color: #333;
  }
  
  .wp-block-pullquote.is-style-solid-color.alignleft blockquote,
  .wp-block-pullquote.is-style-solid-color.alignright blockquote {
	max-width: 80%;
  }
  
  .site-container .wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
	border: 2px solid;
	border-left: none;
	border-right: none;
  }
  
  .site-container .wp-block-pullquote cite,
  .site-container .wp-block-quote cite {
	color: #666;
	display: block;
	font-family: "Source Sans Pro", serif;
	font-size: 16px;
	font-style: italic;
	margin-top: -25px;
	text-align: inherit;
	text-transform: none;
  }
  
  .site-container .wp-block-pullquote cite {
	text-align: center;
  }
  
  .site-container .wp-block-pullquote.is-style-solid-color cite {
	color: #fff;
	font-style: italic;
  }
  
  .site-container .wp-block-pullquote .has-text-color cite,
  .site-container .wp-block-pullquote .has-text-color p {
	color: currentColor;
  }
  
  .blocks-gallery-caption {
	width: 100%;
  }
  
  .blocks-gallery-item figcaption {
	margin-bottom: 0;
  }
  
  /* Category Block
  ---------------------------------------------------------------------------- */
  .site-container .wp-block-categories {
	margin-left: 0;
	padding-left: 0;
  }
  
  .site-container .wp-block-categories li {
	list-style-type: none;
  }
  
  .site-container .wp-block-categories.aligncenter {
	text-align: center;
  }
  
  .site-container .wp-block-categories.alignfull {
	padding: 0 30px;
  }
  
  .site-container .wp-block-categories .children {
	padding-left: 30px;
  }
  
  /* Latest Posts Block
  ---------------------------------------------------------------------------- */
  .site-container .wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;
  }
  
  .site-container .wp-block-latest-posts li {
	list-style-type: none;
  }
  
  .site-container .wp-block-latest-posts.aligncenter {
	text-align: center;
  }
  
  .site-container .wp-block-latest-posts.alignfull {
	padding: 0 30px;
  }
  
  /* Atomic Blocks
  ---------------------------------------------------------------------------- */
  .ab-block-post-grid h2 a {
	text-decoration: none;
  }
  
  @media only screen and (max-width: 510px) {
	.ab-block-container.alignfull::before {
	  content: " ";
	  display: table;
	}
	.ab-block-container.alignfull::after {
	  clear: both;
	  content: " ";
	  display: table;
	}
  }
  
  /* Other Blocks
  ---------------------------------------------------------------------------- */
  .wp-block-preformatted,
  .wp-block-verse {
	font-size: 16px;
  }
  
  .wp-block-preformatted {
	white-space: pre-wrap;
  }
  
  .wp-block-audio audio {
	display: inline-block;
	width: 100%;
  }
  
  .site-container .blocks-gallery-grid,
  .site-container .wp-block-gallery {
	padding-left: 0;
  }
  
  .wp-block-table.is-style-stripes {
	border-bottom-width: 0;
  }
  
  .full-width-content .site-container .wp-block-table.alignfull {
	margin: 0;
	width: 100%;
  }
  
  @media only screen and (min-width: 960px) {
	.full-width-content .site-container > .wp-block-table.alignwide {
	  width: calc(100% + 360px);
	}
	.full-width-content .site-container > .wp-block-table.alignfull {
	  margin-left: calc(-100vw / 2 + 100% / 2);
	  margin-right: calc(-100vw / 2 + 100% / 2);
	  width: 100vw;
	}
  }
  
  @media only screen and (max-width: 600px) {
	.wp-block-media-text.is-stacked-on-mobile figure {
	  margin-bottom: 20px;
	}
  }

  /* Featured Camper Trailers Block
  ---------------------------------------------------------------------------- */
.side-button-wrap{
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: fixed;
	z-index: 9999;
	top: 40%;
	right: -82px;
	a{
		font-size: 25px;
		padding: 5px 24px;
		text-decoration: none;
		&:hover{
			color: #000;
		}
	}
}
.campers-intro {
	a {
		text-decoration: none;
	}
	.uk-switcher {
		padding-top: 60px;
	}
	.image-wrap{
		text-align: center;
		height: auto;
		.campers-intro-image {
			max-width: 300px; //this is set temporarily for the developm,ent purpose
			width: 100%;
			height: auto;
			padding-bottom: 20px;
		}
		@media screen and (max-width:$breakpoint-large){
			//height: 100px;
		}
	}
	.large-image{
		&__thumbnail{
			max-width: 575px;
			width: 100%;
			@media screen and (max-width:$breakpoint-large){
				max-width: 400px;
			}
			@media screen and (max-width:$breakpoint-small){
				max-width: 300px;
			}
		}
	}
	.logo-image{
		&__thumbnail{
			@media screen and (max-width:$breakpoint-large){
				max-width: 345px;
				width: 100%;
			}
		}
	}
	.uk-switcher{
		@media screen and (max-width:$breakpoint-small){
			text-align:center;
			padding-top: 30px;
		}
	}
	.campers-intro-caption {
		//width: 50%;
		//margin: 0 auto;
		//text-align: center;
		//padding: 5px 0px 5px 0px;

	//	padding: 6px 8px;
		text-align: center;
		width: 205px;
		margin: 0 auto;
		position: relative;
		@media screen and (max-width:$breakpoint-large){
			width: 100%;
		}
		.campers-intro-caption-bg{

			h4{
				font-size: 30px;
				color: #000;
				font-weight: 700;
				letter-spacing: 0px;
				line-height: 35px;
				&.light{
					font-weight: 300;
				}
			}
			@media screen and (max-width:$breakpoint-large){
				h4{
					font-size: 15px;
					line-height: 18px;
				}
			}
			@media screen and (max-width:$breakpoint-medium){
				h4{
					font-size: 10px;
					line-height: 16px;
				}
			}
		}
	}
	.campers-intro-content {
		color: #0b8dcd;
		line-height: 1.5;
		font-weight: 400;
		text-align: right;
		h4{
			font-size: 30px;
			line-height: 37px;
			color: #0b8dcd;
			font-family: $futurabt;
			
			margin: 40px 0px;
			letter-spacing: -1px;
		}
		@media screen and (max-width:$breakpoint-medium){
			text-align: center;
			h4{
				font-size: 20px;
				line-height: 27px;
			}
		}
	}
	.campers-intro-buttons {
		padding-top: 20px;	
		
		.uk-button{
			width: 280px;
			height: 60px;
			font-size: 30px;
			line-height: 40px;
			padding: 0 15px;
			@media screen and (max-width:$breakpoint-medium){
				width: 260px;
				height: 45px;
				font-size: 20px;
				line-height: 25px;
				
			}
		}	
		.uk-button-black{
			@media screen and (max-width:$breakpoint-medium){
				margin-bottom: 15px;
			}
		}
		@media (min-width: 768px) {
			float: right;
		}
		button:first-of-type {			
			@media (min-width: 768px) {
				margin-right: 20px;
			}
		}
	}	
	.uk-slider {
		position: relative;
		&.uk-slider-container{
		//	overflow: visible !important;
		}
		.uk-grid{
			padding-bottom: 75px;
			@media screen and (max-width:1024px){
				padding-bottom: 30px;
			}
		}
		.uk-active {
			.campers-intro-caption-bg {
				background-color: $primaryblue;		
				h4{
					color: #fff;
				}			
			}
			.campers-intro-title {
				color: #fff;
			}
			.campers-intro-subtitle {
				color: #fff;
			}
			.fa-chevron-down {
				color: $primaryblue;
			}
			.active-chevron {
				/*font-family: 'Font Awesome 5 Free';
				content: "\f078";
				font-weight: 900;
				color: $primaryblue;*/
				position: absolute;
				top: 83px;
				content: "";
				background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/down_arrow.png");
				height: 22px;
				width: 40px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				background-repeat: no-repeat;
				background-size: contain;
				@media screen and (max-width:1024px){
					top: 43px;
					height: 10px;
					width: 20px;
				}
			}
		}
	}
	.uk-position-center-left{
		content: "";
		background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/left_arrow.png");
		height: 35px;
		width: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		top: 20%;
		@media screen and (max-width:$breakpoint-medium){
			height: 20px;
			top: 19%;
		}
	}
	.uk-position-center-right{
		content: "";
		background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/right_arrow.png");
		height: 35px;
		width: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		top: 20%;
		@media screen and (max-width:$breakpoint-medium){
			height: 20px;
			top: 19%;
		}
		
	}

	.uk-slider-nav {
		display: none !important;
	}	
}
.grey-line {
    display: block;
    width: 70%;
    margin: 15px auto 0;
    border-bottom: 0px solid #dddddd;
}





  /* Chevron Block
  ---------------------------------------------------------------------------- */
  .chevron {
	position: relative;
	margin-bottom: 100px;
	@media screen and (max-width:$breakpoint-medium){
		margin-bottom: 50px;		
	}
	

	//width:100%;
	//max-height:100%;
	//height:1130px;
	&:before {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 100%;
		top: -1px;
	}

	/*&:after {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-bottom.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 18.6%;
		max-height: 100%;
		width: 100%;
		bottom: -9px;
	}*/
	
	 .chevron-wrapper{
		
		 .pad-to-bot{
		//	padding: 250px 0px;
			padding: 150px 0px 150px 0px;
			@media screen and (min-width:1240px){
				padding: 400px 0px 300px 0px;
			}
		 }
		 .overlay-bg{
			padding: 100px;
			background-color: rgba(0, 0, 0, 0.6);
			border-radius: 7px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;

			//margin-top: 200px;
			@media screen and (max-width:1240px){
				padding: 60px 30px;
			}
		
		 	.wrap{
			 display: flex;
			 justify-content: center;
			 @media screen and (max-width:1240px){
				display: block;
			}
				&__left{
					.title-text{
						h1{
							font-size: 200px;
							color: #fff;
							line-height: 181px;
							margin-bottom: 15px;
							&:after {
								display: none !important;
							}

							@media screen and (max-width:1420px){
								font-size: 160px;
								line-height: 150px;
							}
						}
						//.tested-copy{
						//padding-left: 55px;
						//}
					}
				}
				&__right{
					max-width: 680px;
					padding-left: 240px;
					padding-top: 12px;
					.right-text{
						text-align: left;
						@media screen and (max-width:1240px){
							margin-top: 50px;
						}
						h5{
							color: #fff;
							font-size: 28px;
							font-family: $futurabt;
							font-weight: 700;
							line-height: 30px;
						}

						p{
							color: #fff;
							font-size: 22px;
							font-family: $futurabt;
						}
					}
					@media screen and (max-width:1640px){
						padding-left: 140px;
					}
					@media screen and (max-width:1420px){
						padding-left: 75px;
					}
					@media screen and (max-width:1240px){
						padding-left: 0px;
					}
				}
			 }
				.white-strip{
					width: 100%;
					height: 10px;
					background-color: #fff;
					margin-top: 85px;
					@media screen and (max-width:1240px){
						margin-top: 20px;
					}
				}
			}

			.bottom-chevron{
				position: absolute;
				width: 100%;
				bottom: -3px;
			}
			/*.triangle-divider{
				position: relative;
				border-bottom: 50px solid #fff;
				width: 100%;
				min-height: 1vh;
				.triangles{
					position: absolute;
					bottom: 0;
					background: #fff;
					padding-top: 3%;
					width: 100%;
					height: auto;
					svg{
						position: absolute;
						bottom: 100%;
						transform: scaleY(6);
						//width: 1000px;
						//height: 100px;
						&:not(:root){
						-webkit-transform: scaleY(6);
						-moz-transform: scaleY(6);
						-ms-transform: scaleY(6);
						-o-transform: scaleY(6);

								overflow: hidden;
								display: block;
								width: 100%;
								height: auto;
								max-height: 100%;
						}	
					}
				}
			}*/
		 }
	 } 

	 
  

/*.chevron {
	position: relative;
	img {
		width: 100%;
	}
	&:before {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 100%;
		top: -1px;
	}
	&:after {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-bottom.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 18.6%;
		max-height: 100%;
		width: 100%;
		bottom: -9px;
		left: 0;
	}

	.chevron-wrapper__body{
		width:100%;
		max-height:100%;
		height:1130px;

	}
}*/

  /* Media Queries
  ---------------------------------------------------------------------------- */
  @media only screen and (min-width: 960px) {
	.full-width-content .entry-content > .alignwide {
	  margin-left: -180px;
	  margin-right: -180px;
	  max-width: calc(100% + 360px);
	  /* 360 equals sum of left and right margin */
	  width: auto;
	}
	.alignfull .alignwide,
	.alignwide .alignwide {
	  max-width: 1062px;
	  margin: 0 auto;
	}
  }
  
  @media only screen and (max-width: 781px) {
	.site-container .wp-block-column {
	  -ms-flex-preferred-size: 100%;
		  flex-basis: 100%;
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  
  /* GENERAL SCSS
  ---------------------------------------------------------------------------- */
  
  .text-white {
	color: #fff;
  }
  
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .image-text {
	position: relative;
	color: white;
  }
  
  a {
	color: inherit;
  }

  .mt-0 {
	margin-top: 0 !important;
  }

  
  /* UK
  ---------------------------------------------------------------------------- */
  
  /* HEADER
  ---------------------------------------------------------------------------- */
  
  /*.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
  }
  
  .top-right {
	position: absolute;
	top: 8px;
	right: 16px;
  }

  .image-with-text {
	text-align: center;
	position: relative;
  }

  .hkc-logo {
	position: absolute;
    top: 40%;
    left: 10%;
  }
  

  .nav-primary {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  }*/
  /* WHY BUY
  ---------------------------------------------------------------------------- */
  .why-hkc{
	text-align: center;
	.no-pad{
		//padding-left: 30px !important;
		padding: 0px 30px 0px !important;
	}

	.uk-grid{
		//margin-left: -30px !important;
		@media screen and(max-width:1020px) {
			margin-left: 0px !important;
			padding: 0px !important;
		}
	}

	
	.whyhkc-content-wrapper {
		background-image: none;
		background-color: #eeeeee;
		background-size: 100% 100%;
		max-width: 320px;
		width: 100%;
		//height: 240px;
		padding: 20px 20px;
		height: 240px;
		max-height: 100%;
		position: relative;
		transition: all 0.5s ease-out;
		@media screen and(max-width:1400px) {
			height: auto;
		}
		&:hover	{
				background-image:url('http://hard-korr-campers-2020.local/wp-content/uploads/Layer-8.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				transform: scale(1.05);
				color: #fff;
				.dark-overlay{			
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.5);
					left: 0;
					top: 0;
					z-index: -2;
				}

				h5, h6,p{
					color: #fff;
				}
			}

		h5 {
		font-size: 38px;
		font-family: $antidotum;
		color: #000;	
		margin: 5px;			
		}
		h6 {
		font-size: 19px;
		letter-spacing: 6px;  
		color: #000;
		margin: 0;
		}
		p{
			color: #000;
		}
		.swap-on-hover__front-image{
			position: absolute;
			//width: 219px;
			right: 0;
			bottom: 0;
			z-index: 1;
		  }
	  }
	  @media screen and(max-width:1040px) {
		.mt-0{
			margin-top: 30px !important;
		}
		.whyhkc-content-wrapper{
			max-width: 100%;
		}
	}
	  .uk-card-body {
		padding: 25px;
	  }
  }


  
  
  
 
   

    /* END WHY BUY
    ---------------------------------------------------------------------------- */
  /* FOOTER
  ---------------------------------------------------------------------------- */
  /*.footer-logo {
	position: absolute;
	top: -100px;
	left: 16px;
  }
  
  .footer-text {
	position: absolute;
	top: 10%;
	left: 16px;
  }
  
  .footer-hr {
	border-top: 1px solid #fff;
	margin-bottom: 8px;
	margin-top: 8px;
	width: 50%;
  }
  
  i.fas-comment {
	display: inline-block;
	border-radius: 60px;
	padding: 0.5em 0.6em;
	background-color: #1e87f0;
  }
  
  $primaryblue: #008dcf;*/


  /* Find Dealer
  ---------------------------------------------------------------------------- */
/*.find-dealer{
	.dealer-container{
		z-index: 1;
		position: relative;
		&:before {
			content: "";
			background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg');
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
			width: 100%;
			top: -1px;
		}
		.overlay-black{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;
			z-index: -1;
		}
		.uk-container{

			&.pad-to-bot{
				
					padding: 150px 0px 150px 0px;
					@media screen and (min-width:1240px){
						padding: 230px 0px 250px 0px;
					}
				
				 }
			.wrap{
				display: flex;
				justify-content: center;
				    padding: 60px 0px;
  
				&__left{
					width: 50%;
				  h1{
					  font-size: 200px;
					  color: #fff;
					  line-height: 214px;
					  margin-bottom: 15px;
					  &:after {
						  display: none !important;
					  }
  
					  @media screen and (max-width:1420px){
						  font-size: 160px;
						  line-height: 150px;
					  }
				  }
				}
				&__right{
					width: 50%;
					padding-top: 30px;
					.right_content{
						margin-bottom: 45px;
						h5{
							color: #fff;
							font-size: 28px;
							font-family: $futurabt;
							font-weight: 700;
							line-height: 30px;
						}

						p{
							color: #fff;
							font-size: 22px;
							font-family: $futurabt;
						}
					}
					.wrapper-map{
						width: 100%;
						height: 145px;
						background-color: #fff;
							.copy{
								width: 55%;
								float: left;
								height: 145px;
								h3{
									font-family: $futurabt;
									font-size: 34px;
									color: #000;
									font-weight: 800;
									text-transform: uppercase;
									margin: 0px;
									padding-left: 25px;
									padding-top: 25px;
								}
							}

							.bg-image{
								height: 145px;
								width: 45%;
								float: right;
								content: "";
								background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/australia-300x112.png');
								position: absolute;
								background-repeat: no-repeat;
								background-size: contain;
								max-width: 700px;
								width: 100%;
								background-position: right;
							}
						
					}
					
				}
			}
			.white-strip{
				background-color: #ffffff;
				width: 100%;
				height: 10px;

			}
			
		}
		.triangle-divider{
			position: relative;
			border-bottom: 50px solid #fff;
			width: 100%;
			min-height: 1vh;
			.triangles{
				position: absolute;
				bottom: 0;
				background: #fff;
				padding-top: 3%;
				width: 100%;
				height: auto;
				svg{
					position: absolute;
					bottom: 100%;
					transform: scaleY(6);
					//width: 1000px;
					//height: 100px;
					&:not(:root){
					-webkit-transform: scaleY(6);
					-moz-transform: scaleY(6);
					-ms-transform: scaleY(6);
					-o-transform: scaleY(6);

							overflow: hidden;
							display: block;
							width: 100%;
							height: auto;
							max-height: 100%;
					}	
				}
			}
		}
	}
}

  
  /*.dealer-container {
	position: relative;
  
  }
  
  .dealer-img {
	filter: grayscale(50%);
  }
  
  .dealer-title {
	position: absolute;
	top: 300px;
	font-size: 6em;
	color: #fff;
  }
  
  .dealer-content {
	position: absolute;
	top: 300px;
	color: #fff;
  }
  
  .find-dealer {
	position: absolute;
	top: 400px;
	background-color: white;
  }
  
  .dealer-hr {
	position: absolute;
	top: 600px;
	width: 50%;
	border: 2px solid #fff;
	left: 330px;
  }/*

  /* Camper
  ---------------------------------------------------------------------------- */
//   Header
.camper-header-overlay {
	position: relative;
	width: 100%;
	&:after {
		content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(76, 175, 221, 0.8);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
	}
	.top-bg-img {
		width: 100%;
		vertical-align: top;
		
	}
}

.triangle-divider{
	position: relative;
	border-bottom: 50px solid #fff;
	width: 100%;
	min-height: 1vh;
	.triangles{
		position: absolute;
		bottom: 0;
		background: #fff;
		padding-top: 3%;
		width: 100%;
		height: auto;
		svg{
			position: absolute;
			bottom: 100%;
			transform: scaleY(6);
			//width: 1000px;
			//height: 100px;
			&:not(:root){
			-webkit-transform: scaleY(6);
			-moz-transform: scaleY(6);
			-ms-transform: scaleY(6);
			-o-transform: scaleY(6);

					overflow: hidden;
					display: block;
					width: 100%;
					height: auto;
					max-height: 100%;
			}	
		}
	}
}

.feature-image {
	position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;}

// Price
.price {
	font-family: $antidotum;
}
ins {
	color: $primaryblue;
}

del, .woocommerce_price-amount {
	color: #aaaaaa !important;
}

// Featute Icon
  .feature_icon {
	  height: 50px;
  }

  .feature-title {
	color: #000;
    font-family: antidotum;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .feature-text {
	color: #000;
	font-size: 16px;
  }

.feature-box-img {
	position: relative;
	width: 100%;
}

