.find-dealer {
  padding-bottom: 90px;
}

.find-dealer .dealer-container {
  z-index: 1;
  position: relative;
  /*.triangle-divider{
			position: relative;
			border-bottom: 50px solid #fff;
			width: 100%;
			min-height: 1vh;
			.triangles{
				position: absolute;
				bottom: 0;
				background: #fff;
				padding-top: 3%;
				width: 100%;
				height: auto;
				svg{
					position: absolute;
					bottom: 100%;
					transform: scaleY(6);
					//width: 1000px;
					//height: 100px;
					&:not(:root){
					-webkit-transform: scaleY(6);
					-moz-transform: scaleY(6);
					-ms-transform: scaleY(6);
					-o-transform: scaleY(6);

							overflow: hidden;
							display: block;
							width: 100%;
							height: auto;
							max-height: 100%;
					}	
				}
			}
		}*/
}

.find-dealer .dealer-container:before {
  content: "";
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: -1px;
}

.find-dealer .dealer-container .overlay-black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  z-index: -1;
}

.find-dealer .dealer-container .uk-container.pad-to-bot {
  padding: 150px 20px 150px 20px;
}

@media screen and (min-width: 1240px) {
  .find-dealer .dealer-container .uk-container.pad-to-bot {
    padding: 230px 50px 250px 50px;
  }
}

.find-dealer .dealer-container .uk-container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px;
}

@media screen and (min-width: 1240px) {
  .find-dealer .dealer-container .uk-container .wrap {
    padding: 120px 0px 60px;
  }
}

.find-dealer .dealer-container .uk-container .wrap__left {
  width: 50%;
}

.find-dealer .dealer-container .uk-container .wrap__left h1 {
  font-size: 200px;
  color: #fff;
  line-height: 214px;
  margin-bottom: 15px;
}

.find-dealer .dealer-container .uk-container .wrap__left h1:after {
  display: none !important;
}

@media screen and (max-width: 1420px) {
  .find-dealer .dealer-container .uk-container .wrap__left h1 {
    font-size: 160px;
    line-height: 150px;
  }
}

.find-dealer .dealer-container .uk-container .wrap__right {
  width: 50%;
  padding-top: 30px;
  max-width: 700px;
  width: 100%;
}

.find-dealer .dealer-container .uk-container .wrap__right .right_content {
  margin-bottom: 45px;
}

.find-dealer .dealer-container .uk-container .wrap__right .right_content h5 {
  color: #fff;
  font-size: 28px;
  font-family: futura-pt;
  font-weight: 700;
  line-height: 30px;
}

.find-dealer .dealer-container .uk-container .wrap__right .right_content p {
  color: #fff;
  font-size: 22px;
  font-family: futura-pt;
}

.find-dealer .dealer-container .uk-container .wrap__right .wrapper-map {
  width: 100%;
  height: 145px;
  background-color: #fff;
  max-width: 700px;
  width: 100%;
}

.find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .copy {
  width: 55%;
  float: left;
  height: 145px;
}

.find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .copy h3 {
  font-family: futura-pt;
  font-size: 34px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  padding-left: 25px;
  padding-top: 25px;
}

.find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .bg-image {
  height: 145px;
  width: 45%;
  float: right;
  content: "";
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/australia-300x112.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 700px;
  width: 100%;
  background-position: right;
}

@media screen and (max-width: 1520px) {
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map {
    height: 115px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .copy {
    height: 115px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .copy h3 {
    font-size: 30px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .bg-image {
    height: 115px;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map {
    max-width: 330px;
    height: 50px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .copy {
    width: 48%;
    height: 50px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .copy h3 {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 3px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right .wrapper-map .bg-image {
    height: 50px;
    width: 100%;
    max-width: 330px;
  }
}

@media screen and (max-width: 1155px) {
  .find-dealer .dealer-container .uk-container .wrap {
    display: block;
    padding: 40px 0px;
  }
  .find-dealer .dealer-container .uk-container .wrap__right {
    width: 100%;
    max-width: 100%;
  }
  .find-dealer .dealer-container .uk-container .wrap__left {
    width: 100%;
  }
}

.find-dealer .dealer-container .uk-container .white-strip {
  background-color: #ffffff;
  width: 100%;
  height: 10px;
}

.find-dealer .dealer-container .bottom-chevron {
  position: absolute;
  width: 100%;
  bottom: -3px;
}

.footer-wrapper {
  position: relative;
  padding: 100px 0px 105px;
  z-index: 1;
}

.footer-wrapper .overlay-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.footer-wrapper h4 {
  font-family: antidotum;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0px !important;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-wrapper__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrapper__wrap--left {
  width: 50%;
}

.footer-wrapper__wrap--left .social-icons {
  padding-top: 10px;
}

.footer-wrapper__wrap--left .social-icons a {
  text-decoration: none;
  border: none !important;
}

.footer-wrapper__wrap--left .social-icons a .fab {
  color: #ffffff;
}

.footer-wrapper__wrap--left p {
  font-family: futura-pt;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-wrapper__wrap--left p a {
  text-decoration: none;
  border: none !important;
}

.footer-wrapper__wrap--right {
  width: 50%;
}

.footer-wrapper__wrap--right .search-div {
  padding: 5px 0px 10px;
}

.footer-wrapper__wrap--right .search-div .is-ajax-search label {
  width: 100% !important;
}

.footer-wrapper__wrap--right .search-div .is-search-form .is-search-input {
  padding: 8px 12px;
  font-size: 18px;
  line-height: 1px;
  border-radius: 0;
  border: 2px solid #000000;
  font-family: futura-pt !important;
  width: 100%;
}

.footer-wrapper__wrap--right .search-div .is-search-form .is-search-submit {
  position: relative;
  border: 0px;
}

.footer-wrapper__wrap--right .search-div .is-search-form .is-search-submit .is-search-icon {
  display: inline-block;
  padding: 5px;
  color: #000;
  background: #fff;
  outline: 0;
  font-size: 21px;
  border: 0px;
  border-radius: 0;
  line-height: 1;
  height: 21px;
  border-left-style: none;
  position: absolute;
  width: 25px;
  top: -20px;
  right: -25px;
}

.footer-wrapper__wrap--right .footer-menu {
  max-width: 240px;
  width: 100%;
}

.footer-wrapper__wrap--right .footer-menu h4 {
  margin-bottom: 0px !important;
}

.footer-wrapper__wrap--right .footer-menu__list {
  list-style: none;
}

.footer-wrapper__wrap--right .footer-menu__list--item {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  line-height: 35px;
}

.footer-wrapper__wrap--right .footer-menu__list--item:nth-child(7) {
  border-bottom: none;
}

.footer-wrapper__wrap--right .footer-menu__list--item a {
  text-decoration: none;
  border: none !important;
  color: #ffffff;
}

@media screen and (max-width: 1140px) {
  .footer-wrapper__wrap {
    display: block;
  }
  .footer-wrapper__wrap--left {
    width: 100%;
    padding-bottom: 50px;
  }
  .footer-wrapper__wrap--right {
    width: 100%;
  }
}

.footer-wrapper .comment-wrap {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.footer-wrapper .comment-wrap .fas {
  background: #008dcf;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  position: relative;
}

.footer-wrapper .comment-wrap .fas::before {
  font-weight: 900;
  font-size: 50px;
  color: #fff;
  padding: 9px 12px;
  position: absolute;
}

.site-header .wrap .nav-primary {
  display: none !important;
}

.site-header .wrap #genesis-mobile-nav-primar {
  display: none !important;
}

.site-header .wrap .header-wrapper .header-top {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 5px;
  height: 30px;
  background-color: #4d4d4a;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-top {
    height: auto;
  }
}

.site-header .wrap .header-wrapper .header-top .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  position: relative;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-top .top-wrapper {
    display: block;
    text-align: center;
  }
}

.site-header .wrap .header-wrapper .header-top .top-wrapper p {
  font-size: 14px;
  font-family: futura-pt;
  font-weight: 600;
  margin: 0px;
}

.site-header .wrap .header-wrapper .header-top .top-wrapper a {
  font-size: 14px;
  font-family: futura-pt;
  font-weight: 600;
  text-decoration: none;
  border: none;
}

.site-header .wrap .header-wrapper .header-top .top-wrapper a .fas, .site-header .wrap .header-wrapper .header-top .top-wrapper a .fab {
  margin-right: 5px;
}

.site-header .wrap .header-wrapper .header-top .top-wrapper .left-panel {
  position: absolute;
  left: 0;
  top: -1px;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-top .top-wrapper .left-panel {
    position: static;
  }
}

.site-header .wrap .header-wrapper .header-top .top-wrapper .right-panel {
  position: absolute;
  right: 0;
  top: -1px;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-top .top-wrapper .right-panel {
    position: static;
  }
}

.site-header .wrap .header-wrapper .header-top .top-wrapper .right-panel__phone {
  display: inline-block;
  border: none;
  margin-right: 5px;
}

.site-header .wrap .header-wrapper .header-top .top-wrapper .right-panel__email {
  display: inline-block;
  border: none;
  margin-right: 5px;
}

.site-header .wrap .header-wrapper .header-top .top-wrapper .right-panel__social {
  display: inline-block;
  border: none;
  margin-right: 5px;
}

body.page-template-default.scrolled-down .site-header .wrap .header-wrapper .header-top {
  display: none;
}

body.page-template.scrolled-down .site-header .wrap .header-wrapper .header-top {
  display: none;
}

body.product-template-default.scrolled-down .site-header .wrap .header-wrapper .header-top {
  display: none;
}

.site-header .wrap .header-wrapper .header-bottom {
  padding: 10px 20px;
  height: 80px;
  position: relative;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.32);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1440px) {
  .site-header .wrap .header-wrapper .header-bottom {
    padding: 10px 0px;
  }
}

@media screen and (min-width: 1090px) {
  body.page-template-default.scrolled-down .site-header .wrap .header-wrapper .header-bottom {
    padding: 3px 20px;
    height: 64px;
  }
  body.page-template.scrolled-down .site-header .wrap .header-wrapper .header-bottom {
    padding: 3px 20px;
    height: 64px;
  }
  body.product-template-default.scrolled-down .site-header .wrap .header-wrapper .header-bottom {
    padding: 3px 20px;
    height: 64px;
  }
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom {
    height: 60px;
  }
  .site-header .wrap .header-wrapper .header-bottom .mobile-padd {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: -5px -15px -8px;
  }
}

.site-header .wrap .header-wrapper .header-bottom .overlay-header {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom .overlay-header {
    z-index: -1;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  position: relative;
  /*.right-panel{
                        position: absolute;
                        right: 0;
                        top: 5px;
                        @media screen and (max-width:1440px){
                          top: 5px;
                        }
                        .menu-wrapper{
                            .menu{
                                font-family: $futurabt;
                                font-weight: 600;
                                font-size: 18px;
                                  @media screen and (max-width:1440px){
                                    font-size: 16px;
                                  }
                                ul{
                                  list-style:none;
                                  margin:0;
                                  padding:0;
                                  display:flex;
                                  flex-wrap:wrap;
                                  li{
                                    padding: 0 20px;
                                        @media screen and (max-width:1440px){
                                        padding: 0 10px;
                                        }
                                    > ul{
                                        display:flex;
                                        visibility:hidden;
                                        position:absolute;
                                        left:-99999;
                                        flex-direction:column;
                                        li{
                                            width:100%;
                                            position:relative;
                                        }
                                    }
                                    &:hover{
                                        a{
                                            color:#fff;
                                            border-bottom: 8px solid #0b8dcd;
                                        }
                                        &:focus{
                                            color: #39f !important;
                                            outline: none !important;
                                        }
                                        > ul{
                                                visibility:visible;
                                                position:relative;
                                                left:0;
                                            }
                                        }
                                    }
                                } 
                               
                                a{
                                  text-transform:uppercase;
                                  display:block;
                                  padding: 16px 0px;
                                  color:white;
                                  text-decoration:none;
                                  text-align:center;
                                }
                                
                                .sub-menu li > a {
                                  background:#000;
                                  color:#fff;
                                  border-bottom: none !important;
                                }
                                
                                .sub-menu > a:after{
                                  content:"\f107";
                                  font-family: "Font Awesome 5 Free";
                                  padding-left:5px;
                                     
                                }
                                    @media screen and (max-width:1090px){
                                    display: none;
                                    }
                                }
                            }
                        }*/
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel {
  position: absolute;
  left: 0;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel .hkc-logo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1090px) {
  body.page-template-default.scrolled-down .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel .hkc-logo {
    width: 250px;
  }
  body.page-template.scrolled-down .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel .hkc-logo {
    width: 250px;
  }
  body.product-template-default.scrolled-down .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel .hkc-logo {
    width: 250px;
  }
}

@media screen and (max-width: 1440px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel .hkc-logo {
    width: 230px;
  }
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .left-panel {
    left: 30px;
    top: 2px;
    z-index: 999;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel {
  position: absolute;
  z-index: 99;
  right: 0;
  top: -5px;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60px;
    right: 15px;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu__inner {
  padding: 0px 15px;
  line-height: 65px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul {
  display: block;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 1440px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul {
    display: block !important;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li {
  display: inline-block;
  margin: 0px;
  padding: 0;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.active {
  font-weight: 800;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown {
  position: relative;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown .dropdown-content {
  position: absolute;
  background-color: #000;
  min-width: 335px;
  width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  line-height: 36px;
  display: none;
  cursor: pointer;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown .dropdown-content a {
  display: block;
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown .dropdown-content {
    text-align: center;
    padding: 15px 0px;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown:hover .dropdown-content {
  display: block;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  padding-left: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1440px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown:after {
    right: -6px;
  }
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li.dropdown:after {
    top: 1px;
    left: 110px;
    font-size: 15px;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li a {
  padding: 0px 20px;
  display: block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li a:hover {
  color: #FFF;
  background: transparent;
  border-bottom: 10px solid #39f !important;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li a:focus {
  color: #fff !important;
  outline: none !important;
}

@media screen and (max-width: 1440px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li a {
    padding: 0px 10px;
    font-size: 16px;
  }
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger {
  display: none;
  position: relative;
  height: 18px;
  width: 30px;
  margin-left: auto;
  cursor: pointer;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger span {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FFF;
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger span:nth-child(1) {
  top: 0;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger span:nth-child(2) {
  top: 8px;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger span:nth-child(3) {
  top: 16px;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger.open span:nth-child(2) {
  width: 0;
}

.site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 1090px) {
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu__inner {
    padding: 20px 0px;
    line-height: 45px;
  }
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger {
    display: block;
  }
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu .hamburger span {
    left: -15px;
  }
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul {
    display: none;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .site-header .wrap .header-wrapper .header-bottom .bottom-wrapper .right-panel .menu ul li {
    display: block;
  }
}

.header-section {
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .header-section {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-section {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .header-section {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .header-section {
    margin-bottom: 100px;
  }
}

.header-section .bottom-chevron {
  position: absolute;
  width: 100%;
  bottom: -3px;
}

.header-section .header-overlay {
  position: relative;
  width: 100%;
}

.header-section .header-overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 141, 208, 0.6);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.header-section .page-title {
  color: #fff !important;
  position: absolute;
  font-size: 40px;
  letter-spacing: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.header-section .page-title:after {
  content: none;
}

@media screen and (min-width: 480px) {
  .header-section .page-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-section .page-title {
    font-size: 100px;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .header-section .page-title {
    font-size: 120px;
  }
}

@media screen and (min-width: 1366px) {
  .header-section .page-title {
    font-size: 160px;
  }
}

.mt-25 {
  margin-top: 25px;
}

@media screen and (min-width: 480px) {
  .responsive-margin {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .responsive-margin {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .responsive-margin {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .responsive-margin {
    margin-top: 50px;
  }
}

.mt-50 {
  margin-top: 50px;
}

.mt-15 {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .pr-15 {
    padding-right: 15px;
  }
}

.wp-block-spacer {
  display: none;
}

.mt-100 {
  margin-top: 100px;
}

.wp-block-coblocks-row {
  padding-bottom: 100px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.coblocks-column-211111528589 {
  width: 55% !important;
}

@media screen and (max-width: 1140px) {
  .wp-block-coblocks-row:not([data-columns="1"]) .wp-block-coblocks-row__inner {
    display: -webkit-box;
    display: block !important;
  }
  .has-medium-gutter > [class*="wp-block-coblocks-column"]:not(:last-child) {
    margin-right: 0em !important;
  }
  .coblocks-column-211111528589 {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .coblocks-column-211111528580 {
    width: 100% !important;
    margin-right: 0px !important;
  }
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner {
  color: #000;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wp-block-image {
  margin-bottom: 50px;
  padding: 0px !important;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wp-block-image img {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 1140px) {
  .wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wp-block-image img {
    width: 300px;
  }
}

@media screen and (max-width: 789px) {
  .wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wp-block-image img {
    width: 200px;
  }
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner p {
  font-size: 24px;
  font-family: futura-pt;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner p .blu-number {
  font-size: 36px;
  font-weight: 700;
  color: #008dcf;
  text-decoration: none;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner p a {
  text-decoration: none;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .name-top {
  font-size: 24px;
  font-family: futura-pt;
  font-weight: 600;
  line-height: 24px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .name-top span {
  font-family: futura-pt;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form {
  width: 100%;
  max-width: 700px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .ajax-loader {
  display: none;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  width: 100%;
  max-width: 700px;
  font-family: futura-pt;
  margin-bottom: 20px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form label {
  font-size: 16px !important;
  font-family: futura-pt;
  font-weight: 400;
  line-height: 36px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form p {
  margin-bottom: 5px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form #left {
  margin-right: 20px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .model-class {
  font-size: 16px !important;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wrap {
  overflow: hidden;
  position: relative;
  display: block;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wrap .wpcf7-form-control-wrap .wpcf7-select {
  height: 35px;
  border: 2px solid #008dcf;
  width: 100%;
  max-width: 340px;
  background-color: #eee;
  -webkit-border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wrap::after {
  content: "\f0d7";
  font-size: 20px;
  display: block;
  font-family: "FontAwesome5FreeSolid";
  position: absolute;
  top: 5px;
  z-index: 1;
  content: "\f0d7 ";
  font-family: FontAwesome;
  color: #000;
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 1;
  width: 10%;
  height: 100%;
  cursor: pointer;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input {
  height: 35px;
  border: 2px solid #008dcf;
  width: 100%;
  max-width: 340px;
  background-color: #eee;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  display: none !important;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-not-valid {
  border: 2px solid red !important;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item {
  margin: 0px !important;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #008dcf !important;
  border-radius: 0px;
  background-color: #e9e9e9;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item .wpcf7-list-item-label {
  font-size: 16px;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-textarea {
  border: 2px solid #008dcf;
  height: 120px;
  max-height: 100%;
  width: 100%;
  background-color: #e9e9e9;
}

.wp-block-coblocks-row__inner .wp-block-coblocks-column .wp-block-coblocks-column__inner .wpcf7 .wpcf7-form .wpcf7-submit {
  width: 100%;
  max-width: 280px;
  height: 60px;
  background-color: #f57f20;
  border: 0px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.header-overlay {
  position: relative;
  width: 100%;
}

.header-overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 175, 221, 0.8);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.header-overlay .header-bg-image {
  width: 100%;
  vertical-align: top;
}

.page-title {
  color: #fff !important;
  position: absolute;
  top: 35%;
  left: 50%;
  letter-spacing: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-title:after {
  content: none;
}

.triangle-divider {
  position: relative;
  border-bottom: 50px solid #fff;
  width: 100%;
  min-height: 1vh;
}

.triangle-divider .triangles {
  position: absolute;
  bottom: 0;
  background: #fff;
  padding-top: 3%;
  width: 100%;
  height: auto;
}

.triangle-divider .triangles svg {
  position: absolute;
  bottom: 100%;
  -webkit-transform: scaleY(6);
          transform: scaleY(6);
}

.triangle-divider .triangles svg:not(:root) {
  -webkit-transform: scaleY(6);
  -moz-transform: scaleY(6);
  -ms-transform: scaleY(6);
  -o-transform: scaleY(6);
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.wpsl-search {
  color: #fff;
  background-color: #4a4a49;
}

.dealer-subtitle {
  color: #000;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 17px;
  margin: 100px 0 20px 0;
}

.dealer-title {
  color: #000;
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 70px;
  margin: 0 0 0 0;
}

.store-section h3 {
  font-family: antidotum;
  color: #000;
  font-size: 48px;
  line-height: 70px;
  margin: 100px 0 0 0;
}

.store-section hr {
  margin: 0 0 30px 0;
  border-top: 3px solid #0b8dcd;
}

.store-section .dealer-stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store-section .dealer-stores .uk-card-body {
  background-color: #eeeeee;
  padding: 20px;
}

.store-section .dealer-stores .store-title {
  color: #008dcf;
  font-size: 22px;
  letter-spacing: 1.76px;
  font-weight: 800;
}

.store-section .dealer-stores .store-address {
  color: #000;
  font-size: 22px;
}

.store-section .dealer-stores .btn-contact {
  cursor: pointer;
  background-color: #ff8000;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  padding: 15px 0 15px 0;
  margin: 30px 0 0 0;
}

.store-section .dealer-stores .store-logo {
  width: 20%;
  float: right;
}

.store-section .dealer-stores .card-hidden {
  visibility: hidden;
}

.wpcf7-form {
  color: #000;
}

.contact-section h3 {
  font-family: antidotum;
  color: #000;
  font-size: 48px;
  line-height: 70px;
}

.contact-section hr {
  margin: 0 0 30px 0;
  border-top: 3px solid #0b8dcd;
}

.contact-section p {
  color: #000;
  font-size: 22px;
}

.contact-section label {
  font-size: 16px !important;
  font-family: futura-pt;
  font-weight: 400;
  line-height: 36px;
}

.contact-section input {
  height: 35px;
  border: 2px solid #008dcf;
  width: 100%;
  background-color: #eee;
}

.contact-section textarea {
  border: 2px solid #008dcf;
  height: 120px;
  max-height: 100%;
  width: 100%;
  background-color: #e9e9e9;
}

.contact-section .wpcf7-submit {
  width: 100%;
  max-width: 280px;
  height: 60px;
  background-color: #f57f20;
  border: 0px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.contact-section .wpcf7-submit:hover {
  color: #fff;
}

.headoffice-title {
  color: #000;
}

.head-office .fa-map-marker {
  color: #008dcf;
}

.head-office .fa-laptop {
  color: #008dcf;
}

.head-office .fa-phone {
  color: #008dcf;
}

.head-office .fa-envelope {
  color: #008dcf;
}

.head-office .title {
  color: #000;
  font-family: antidotum;
  font-size: 26px;
  letter-spacing: 0.65px;
  margin: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

.head-office .subtitle {
  color: #000;
  font-size: 19px;
  letter-spacing: 0.95px;
}

.breadcrumb {
  display: none !important;
}

.events-archive .entry-content, .events-archive .entry-header {
  width: 100%;
}

.tribe-events-page-title {
  color: #000;
  font-family: antidotum;
  font-size: 78px;
  margin-top: 0;
}

.tribe-events-page-title:after {
  content: "";
  display: block;
  width: 10%;
  margin: 20px auto 0;
  border-bottom: 8px solid #008dcf;
}

.product-feature-image {
  position: absolute;
  top: 25%;
  width: 50%;
}

.product_title {
  color: #000;
  margin-bottom: 0 !important;
  font-size: 110px;
  letter-spacing: 5.5px;
}

.product_title:after {
  content: none;
}

.price {
  font-size: 60px !important;
  margin-bottom: 30px;
  font-family: antidotum;
}

.woocommerce-product-details__short-description {
  background-color: #eeeeee;
  padding: 20px;
  border-left: 10px solid #008dcf;
  font-size: 26px;
}

.woocommerce div.product div.summary {
  margin-bottom: 0 !important;
}

.cart {
  margin-top: 50px;
}

.sku_wrapper, .posted_in {
  display: none;
}

.tabs {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 34px;
  letter-spacing: 3.4px;
  font-family: antidotum;
}

.tabs li a:focus {
  color: #fff !important;
}

.woocommerce-tabs {
  margin-top: 50px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: #008dcf !important;
  border-bottom-color: #008dcf !important;
  color: #fff !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:hover {
  color: #fff !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: 4px solid #008dcf !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: white !important;
  border: none !important;
}

.layout-title {
  color: #fff;
  background-color: #008dcf;
  padding: 5px;
  margin: 0;
  font-size: 34px;
  letter-spacing: 0.85px;
}

.grey-container {
  background-color: #eeeeee;
  padding: 27px 0 13px 20px;
  border-left: 5px solid #008dcf;
  color: #000;
  font-weight: 600;
}

.grey-container ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  font-size: 24px;
  font-weight: bold;
}

.grey-container ol li {
  counter-increment: my-awesome-counter;
  margin: 0 0 20px 0;
}

.grey-container ol li::before {
  content: counter(my-awesome-counter) " ";
  color: #fff;
  background: #000;
  margin-right: 35px;
  padding: 1px 4px 2px 8px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
}

.btn-blue {
  color: #fff;
  background-color: #008dcf;
}

.btn-blue:hover {
  color: #fff;
  background-color: #008dcf;
}

.woocommerce-Reviews-title {
  display: none;
}

.related h2 {
  color: #000;
  margin-bottom: 0 !important;
  font-size: 110px;
  line-height: 195px;
  letter-spacing: 5.5px;
  text-align: center;
}

.related h2:after {
  content: none;
}

.related .woocommerce-loop-product__title {
  line-height: 1.3 !important;
  letter-spacing: 0 !important;
}

.camper-products .camper-header-overlay {
  position: relative;
  width: 100%;
}

.camper-products .camper-header-overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 175, 221, 0.8);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.camper-products .camper-header-overlay .top-bg-img {
  width: 100%;
  vertical-align: top;
}

.camper-products ins {
  color: #008dcf;
}

.camper-products del, .camper-products .woocommerce_price-amount {
  color: #aaaaaa !important;
}

.camper-products .feature_icon {
  height: 50px;
}

.camper-products .feature-title {
  color: #000;
  font-family: antidotum;
  margin-top: 15px;
  margin-bottom: 5px;
}

.camper-products .feature-text {
  color: #000;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .camper-products .product_title {
    float: right;
  }
}

.camper-products .info-title {
  color: #000;
  font-family: antidotum;
  margin: 30px 0 15px 0;
  font-size: 26px;
  letter-spacing: 0.65px;
}

.camper-products .info-text {
  color: #000;
  font-size: 19px;
  letter-spacing: 0.95px;
}

.camper-products .standard-content {
  position: absolute;
  width: 15%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 5px 5px 5px;
}

.camper-products .standard-img {
  width: 100%;
}

.camper-products .standard-overlay {
  padding: 5px 0px 5px 5px;
}

.camper-products .standard-option-padding {
  padding: 5px 0px 5px 5px;
}

.camper-products .standard {
  color: #fff;
  background-color: #008dcf;
  font-family: futura-pt;
  padding: 5px 0px 5px 5px;
}

.camper-products .option {
  color: #fff;
  background-color: #009946;
  font-family: futura-pt;
  padding: 5px 0px 5px 5px;
}

.camper-products .shadow {
  -webkit-box-shadow: 3px 4px 2px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 2px -1px rgba(0, 0, 0, 0.2);
}

.camper-products .standard-row {
  margin: 0 0 20px 0;
}

.top-woocommerce-wrapper {
  padding-bottom: 50px;
}

.top-woocommerce-wrapper .product .title-price-wrap {
  position: absolute;
}

.top-woocommerce-wrapper .product .entry-summary .woocommerce-product-details__short-description {
  padding: 42px 50px !important;
}

.top-woocommerce-wrapper .product .entry-summary .woocommerce-product-details__short-description p {
  margin-bottom: 10px;
}

.top-woocommerce-wrapper .product .entry-summary .woocommerce-product-details__short-description .rate-image {
  text-align: right;
}

.top-woocommerce-wrapper .product .price-wrapper .product .price {
  float: right;
}

@media screen and (max-width: 1200px) {
  .top-woocommerce-wrapper .product .title-price-wrap {
    position: static;
    text-align: center;
  }
  .top-woocommerce-wrapper .product .title-price-wrap .title-wrapper h1 {
    font-size: 80px;
    letter-spacing: 0.5px;
  }
  .top-woocommerce-wrapper .product .price-wrapper {
    width: 100%;
  }
  .top-woocommerce-wrapper .product .price-wrapper .product .price {
    float: none;
  }
}

@media screen and (max-width: 855px) {
  .icon-wrapper .uk-grid {
    display: block !important;
  }
  .icon-wrapper .uk-grid .mobile-center {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .icon-wrapper .uk-grid.mt-100 {
    margin-top: 0px;
  }
}

.product .woocommerce-product-gallery {
  width: 100% !important;
}

.product .woocommerce-product-gallery__image a img {
  width: 80% !important;
  margin: 0 auto !important;
}

.product .woocommerce-product-gallery .flex-control-thumbs {
  margin: 50px 0px 50px !important;
  width: 100% !important;
  text-align: center;
}

.product .woocommerce-product-gallery .flex-control-thumbs li {
  display: inline-block !important;
  margin-left: 30px !important;
  float: none !important;
  width: 10% !important;
}

@media screen and (max-width: 1200px) {
  .product .wc-tabs-wrapper .woocommerce-Tabs-panel .uk-grid {
    display: block !important;
    padding: 20px 20px;
    margin: 0px !important;
  }
  .product .wc-tabs-wrapper .woocommerce-Tabs-panel .uk-grid .uk-width-3-5 {
    width: 100% !important;
    padding: 0px !important;
    margin-bottom: 30px;
  }
  .product .wc-tabs-wrapper .woocommerce-Tabs-panel .uk-grid .uk-width-2-5 {
    width: 100% !important;
    padding: 0px !important;
  }
}

.product .wc-tabs-wrapper .wc-tabs li a {
  letter-spacing: -1px;
}

.feature-wrapper .box-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  min-height: 500px;
}

.feature-wrapper .box-wrap__left {
  background-color: rgba(0, 141, 208, 0.6);
  height: 100%;
  width: 40%;
  opacity: 1;
  top: 0;
  left: 0;
  position: absolute;
  text-align: left;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  overflow: hidden;
}

.feature-wrapper .box-wrap__left p {
  font-size: 20px;
}

@media screen and (max-width: 1265px) {
  .feature-wrapper .box-wrap__left p {
    font-size: 18px;
    line-height: 18px;
  }
}

.feature-wrapper .box-wrap__left .content-left {
  color: #fff !important;
  padding: 20px 0px 20px 70px;
}

@media screen and (max-width: 1265px) {
  .feature-wrapper .box-wrap__left .content-left {
    padding: 20px 0px 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .feature-wrapper .box-wrap__left .content-left {
    padding: 20px 0px 20px 20px;
  }
}

.feature-wrapper .box-wrap .feature-box-arrow-right {
  border-style: solid;
  border-width: 245px 0 245px 100px;
  border-color: transparent transparent transparent rgba(0, 141, 208, 0.6);
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
}

.feature-wrapper .box-wrap__right {
  background-color: rgba(0, 141, 208, 0.6);
  height: 100%;
  width: 40%;
  opacity: 1;
  top: 0;
  right: 0;
  position: absolute;
  text-align: right;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  overflow: hidden;
}

.feature-wrapper .box-wrap__right p {
  font-size: 20px;
}

@media screen and (max-width: 1265px) {
  .feature-wrapper .box-wrap__right p {
    font-size: 18px;
    line-height: 18px;
  }
}

.feature-wrapper .box-wrap__right .content-right {
  color: #fff !important;
  padding: 20px 70px 20px 0px;
}

@media screen and (max-width: 1265px) {
  .feature-wrapper .box-wrap__right .content-right {
    padding: 20px 40px 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .feature-wrapper .box-wrap__right .content-right {
    padding: 20px 20px 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .feature-wrapper .box-wrap .feature-box-arrow-right {
    display: none;
  }
  .feature-wrapper .box-wrap .feature-box-arrow-left {
    display: none;
  }
  .feature-wrapper .box-wrap__right {
    width: 100%;
    height: auto;
  }
  .feature-wrapper .box-wrap__left {
    width: 100%;
    height: auto;
  }
}

.feature-wrapper .box-wrap .feature-box-arrow-left {
  border-style: solid;
  border-width: 245px 100px 245px 0;
  border-color: transparent rgba(0, 141, 208, 0.6) transparent transparent;
  position: absolute;
  top: 0;
  right: 40%;
  height: 100%;
}

.feature-wrapper .box-wrap .feature-box-title {
  color: #fff;
  font-family: antidotum;
  margin: 30px 0 15px 0;
  font-size: 60px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1265px) {
  .feature-wrapper .box-wrap .feature-box-title {
    font-size: 50px;
    margin: 5px 0 10px 0;
    line-height: 55px;
  }
}

@media screen and (max-width: 768px) {
  .feature-wrapper .box-wrap {
    background-position: center !important;
  }
}

.uk-text-center .uk-inline {
  width: 100%;
  max-width: 250px !important;
  margin: 0px 13px 30px;
}

.uk-text-center .uk-inline .uk-overlay {
  padding: 8px 15px !important;
  max-height: 83px;
  height: 100%;
}

.uk-text-center .uk-inline .uk-overlay-default .standard-title {
  color: #000;
  font-family: futura-pt;
  margin: 0 0 3px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}

.uk-text-center .uk-inline .uk-overlay-default .standard-subtitle {
  color: #666666;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.uk-text-center .uk-inline .uk-overlay-default p {
  margin: 0;
  padding: 5px;
}

.uk-container-custom {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.uk-container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  position: static;
  width: auto;
}

body {
  font-family: futura-pt;
}

#genesis-mobile-nav-primary {
  display: none !important;
}

.content-sidebar-wrap {
  max-width: 100%;
}

.wp-block-image img {
  width: 100%;
}

.wp-block-coblocks-row__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

hr.wp-block-separator.is-style-default {
  width: 70%;
  margin: 100px auto;
}

.wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > [class*="wp-block-"] {
  max-width: calc(9 * (100vw / 12.5)) !important;
}

@media screen and (max-width: 1140px) {
  .wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > [class*="wp-block-"] {
    max-width: 100% !important;
    width: 100%;
    padding: 0px 50px;
  }
}

@media screen and (max-width: 789px) {
  .wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > [class*="wp-block-"] {
    max-width: 100% !important;
    width: 100%;
    padding: 0px 20px;
  }
}

/* Drop Caps
---------------------------------------------------------------------------- */
.site-container p.has-drop-cap:not(:focus)::first-letter {
  margin: 0.02em 0.08em 0 -0.08em;
}

.site-container p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
.site-container p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
  margin-right: 0.01em;
}

/* Paragraphs
  ---------------------------------------------------------------------------- */
.alignfull:not(.has-background) .wp-block-group__inner-container > p:not(.has-background-color) {
  padding-left: 30px;
  padding-right: 30px;
}

/* Headings
  ---------------------------------------------------------------------------- */
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
  color: #f5f5f5;
}

h4 {
  font-family: futura-pt;
  font-size: 40px;
  letter-spacing: 14px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 30px;
    letter-spacing: 10px;
  }
}

h1 {
  font-family: antidotum;
  font-size: 78px;
  margin-top: 0;
}

h1:after {
  content: "";
  display: block;
  width: 10%;
  margin: 20px auto 0;
  border-bottom: 8px solid #008dcf;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    padding: 0px 20px;
  }
}

h2 {
  font-family: antidotum;
  font-size: 78px;
  margin-top: 0;
}

h2:after {
  content: "";
  display: block;
  width: 10%;
  margin: 20px auto 0;
  border-bottom: 8px solid #008dcf;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 55px;
  }
}

h4 {
  color: #000;
}

h3 {
  font-family: antidotum;
  margin-bottom: 10px;
}

.wp-block-group {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .wp-block-group {
    padding: 0px 15px;
  }
}

.wp-block-group .ecs-event-list {
  text-align: center;
}

.wp-block-group .ecs-event-list .ecs-event {
  position: relative;
  display: inline-block;
  max-width: 465px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  .wp-block-group .ecs-event-list .ecs-event {
    max-width: 100%x;
  }
}

.wp-block-group .ecs-event-list .ecs-event h4 {
  letter-spacing: 0px;
  width: 100%;
  max-width: 435px;
  position: absolute;
  top: 0px;
  left: 15px;
  padding: 25px 15px;
  background: #f57f20;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media only screen and (max-width: 480px) {
  .wp-block-group .ecs-event-list .ecs-event h4 {
    left: 0px;
  }
}

.wp-block-group .ecs-event-list .ecs-event h4 a {
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.wp-block-group .ecs-event-list .ecs-event a img {
  max-width: 435px;
  width: 100%;
}

.wp-block-group .ecs-event-list .ecs-event .duration {
  position: absolute;
  left: 15px;
  width: 100%;
  max-width: 435px;
  height: 30%;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  font-size: 30px;
  color: #000;
  padding: 60px 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .wp-block-group .ecs-event-list .ecs-event .duration {
    left: 0px;
  }
}

.wp-block-group .ecs-event-list .ecs-event:hover .duration {
  height: 50%;
}

.wp-block-group .ecs-event-list .ecs-event:hover h4 a {
  color: #000000;
}

.uk-card-default {
  height: 100%;
}

/* Background Color
  ---------------------------------------------------------------------------- */
.site-container p.has-background {
  padding: 25px 30px;
}

.site-container p.has-background.box-shadow {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.site-container p.has-text-color a,
.site-container p.has-background a {
  color: inherit;
}

.site-container p.has-background a:focus,
.site-container p.has-background a:hover,
.site-container p.has-text-color a:focus,
.site-container p.has-text-color a:hover {
  color: inherit;
  text-decoration: none;
}

.site-container p.has-background.light-text a {
  color: #fff;
  text-decoration: underline;
}

.site-container p.has-background.light-text a:focus,
.site-container p.has-background.light-text a:hover {
  text-decoration: none;
}

/* Alignment
  ---------------------------------------------------------------------------- */
.has-text-align-center {
  text-align: center;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-right {
  text-align: right;
}

.wp-block-button.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft {
  margin-right: 2em;
}

.wp-block-button.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright {
  margin-left: 2em;
}

.campers-intro-buttons {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .campers-intro-buttons {
    padding-top: 50px;
  }
}

.campers-intro-buttons .uk-button {
  width: 280px;
  height: 60px;
  font-size: 30px;
  line-height: 40px;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .campers-intro-buttons .uk-button {
    width: 260px;
    height: 45px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .campers-intro-buttons .uk-button-black {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .campers-intro-buttons button:first-of-type {
    margin-right: 20px;
  }
}

.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
  margin-bottom: 30px;
}

.full-width-content .entry-content > .alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}

.content-sidebar .site-container .alignfull,
.sidebar-content .site-container .alignfull {
  margin: 0 0 2em;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .wp-block-button.home-contact {
    float: left;
    margin-left: 0;
  }
}

/* Columns
  ---------------------------------------------------------------------------- */
.site-container .wp-block-columns.alignfull {
  padding: 0 30px;
}

/* Cover Image
  ---------------------------------------------------------------------------- */
.full-width-content .entry-content > .wp-block-cover.alignfull {
  width: 100vw;
}

.site-container .wp-block-cover .wp-block-cover-text {
  font-size: 48px;
}

/* Buttons
  ---------------------------------------------------------------------------- */
.ab-block-cta .ab-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.site-container .wp-block-button .wp-block-button__link {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 28px 10px;
  vertical-align: middle;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 280px;
}

@media screen and (max-width: 768px) {
  .site-container .wp-block-button .wp-block-button__link {
    max-width: 260px;
    font-size: 20px;
    line-height: 25px;
  }
}

.site-container .wp-block-button.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border: 2px solid currentColor;
  padding: 13px 28px;
}

.site-container .wp-block-button .wp-block-button__link:focus,
.site-container .wp-block-button .wp-block-button__link:hover,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:focus,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:hover {
  -webkit-box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.25);
  box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.25);
}

.uk-button-black {
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
}

.uk-button-orange {
  background-color: #f57f20;
  color: #fff;
  border: 1px solid transparent;
}

/* Blockquotes and captions
  ---------------------------------------------------------------------------- */
.site-container .wp-block-pullquote,
.site-container .wp-block-quote {
  border: none;
  margin: 24px 24px 36px;
}

.wp-block-pullquote.alignleft {
  margin: 0 2em 1.5em 0;
}

.wp-block-pullquote.alignright {
  margin: 0 0 1.5em 2em;
}

.site-container .wp-block-pullquote p,
.site-container .wp-block-quote p {
  font-family: "Source Sans Pro", serif;
  font-size: 21px;
  font-style: italic;
  line-height: 1.8;
  margin-bottom: 42px;
}

.site-container .wp-block-pullquote p,
.site-container .wp-block-quote.is-style-large p {
  font-size: 32px;
}

.site-container .wp-block-pullquote.is-style-solid-color p {
  color: #fff;
  margin-bottom: 42px;
  text-align: center;
}

.site-container .wp-block-pullquote.is-style-solid-color {
  background-color: #333;
}

.wp-block-pullquote.is-style-solid-color.alignleft blockquote,
.wp-block-pullquote.is-style-solid-color.alignright blockquote {
  max-width: 80%;
}

.site-container .wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
  border: 2px solid;
  border-left: none;
  border-right: none;
}

.site-container .wp-block-pullquote cite,
.site-container .wp-block-quote cite {
  color: #666;
  display: block;
  font-family: "Source Sans Pro", serif;
  font-size: 16px;
  font-style: italic;
  margin-top: -25px;
  text-align: inherit;
  text-transform: none;
}

.site-container .wp-block-pullquote cite {
  text-align: center;
}

.site-container .wp-block-pullquote.is-style-solid-color cite {
  color: #fff;
  font-style: italic;
}

.site-container .wp-block-pullquote .has-text-color cite,
.site-container .wp-block-pullquote .has-text-color p {
  color: currentColor;
}

.blocks-gallery-caption {
  width: 100%;
}

.blocks-gallery-item figcaption {
  margin-bottom: 0;
}

/* Category Block
  ---------------------------------------------------------------------------- */
.site-container .wp-block-categories {
  margin-left: 0;
  padding-left: 0;
}

.site-container .wp-block-categories li {
  list-style-type: none;
}

.site-container .wp-block-categories.aligncenter {
  text-align: center;
}

.site-container .wp-block-categories.alignfull {
  padding: 0 30px;
}

.site-container .wp-block-categories .children {
  padding-left: 30px;
}

/* Latest Posts Block
  ---------------------------------------------------------------------------- */
.site-container .wp-block-latest-posts {
  margin-left: 0;
  padding-left: 0;
}

.site-container .wp-block-latest-posts li {
  list-style-type: none;
}

.site-container .wp-block-latest-posts.aligncenter {
  text-align: center;
}

.site-container .wp-block-latest-posts.alignfull {
  padding: 0 30px;
}

/* Atomic Blocks
  ---------------------------------------------------------------------------- */
.ab-block-post-grid h2 a {
  text-decoration: none;
}

@media only screen and (max-width: 510px) {
  .ab-block-container.alignfull::before {
    content: " ";
    display: table;
  }
  .ab-block-container.alignfull::after {
    clear: both;
    content: " ";
    display: table;
  }
}

/* Other Blocks
  ---------------------------------------------------------------------------- */
.wp-block-preformatted,
.wp-block-verse {
  font-size: 16px;
}

.wp-block-preformatted {
  white-space: pre-wrap;
}

.wp-block-audio audio {
  display: inline-block;
  width: 100%;
}

.site-container .blocks-gallery-grid,
.site-container .wp-block-gallery {
  padding-left: 0;
}

.wp-block-table.is-style-stripes {
  border-bottom-width: 0;
}

.full-width-content .site-container .wp-block-table.alignfull {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .full-width-content .site-container > .wp-block-table.alignwide {
    width: calc(100% + 360px);
  }
  .full-width-content .site-container > .wp-block-table.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    width: 100vw;
  }
}

@media only screen and (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile figure {
    margin-bottom: 20px;
  }
}

/* Featured Camper Trailers Block
  ---------------------------------------------------------------------------- */
.side-button-wrap {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: fixed;
  z-index: 9999;
  top: 40%;
  right: -82px;
}

.side-button-wrap a {
  font-size: 25px;
  padding: 5px 24px;
  text-decoration: none;
}

.side-button-wrap a:hover {
  color: #000;
}

.campers-intro a {
  text-decoration: none;
}

.campers-intro .uk-switcher {
  padding-top: 60px;
}

.campers-intro .image-wrap {
  text-align: center;
  height: auto;
}

.campers-intro .image-wrap .campers-intro-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.campers-intro .large-image__thumbnail {
  max-width: 575px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .campers-intro .large-image__thumbnail {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .campers-intro .large-image__thumbnail {
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .campers-intro .logo-image__thumbnail {
    max-width: 345px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .campers-intro .uk-switcher {
    text-align: center;
    padding-top: 30px;
  }
}

.campers-intro .campers-intro-caption {
  text-align: center;
  width: 205px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .campers-intro .campers-intro-caption {
    width: 100%;
  }
}

.campers-intro .campers-intro-caption .campers-intro-caption-bg h4 {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 35px;
}

.campers-intro .campers-intro-caption .campers-intro-caption-bg h4.light {
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .campers-intro .campers-intro-caption .campers-intro-caption-bg h4 {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .campers-intro .campers-intro-caption .campers-intro-caption-bg h4 {
    font-size: 10px;
    line-height: 16px;
  }
}

.campers-intro .campers-intro-content {
  color: #0b8dcd;
  line-height: 1.5;
  font-weight: 400;
  text-align: right;
}

.campers-intro .campers-intro-content h4 {
  font-size: 30px;
  line-height: 37px;
  color: #0b8dcd;
  font-family: futura-pt;
  margin: 40px 0px;
  letter-spacing: -1px;
}

@media screen and (max-width: 768px) {
  .campers-intro .campers-intro-content {
    text-align: center;
  }
  .campers-intro .campers-intro-content h4 {
    font-size: 20px;
    line-height: 27px;
  }
}

.campers-intro .campers-intro-buttons {
  padding-top: 20px;
}

.campers-intro .campers-intro-buttons .uk-button {
  width: 280px;
  height: 60px;
  font-size: 30px;
  line-height: 40px;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .campers-intro .campers-intro-buttons .uk-button {
    width: 260px;
    height: 45px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .campers-intro .campers-intro-buttons .uk-button-black {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .campers-intro .campers-intro-buttons {
    float: right;
  }
}

@media (min-width: 768px) {
  .campers-intro .campers-intro-buttons button:first-of-type {
    margin-right: 20px;
  }
}

.campers-intro .uk-slider {
  position: relative;
}

.campers-intro .uk-slider .uk-grid {
  padding-bottom: 75px;
}

@media screen and (max-width: 1024px) {
  .campers-intro .uk-slider .uk-grid {
    padding-bottom: 30px;
  }
}

.campers-intro .uk-slider .uk-active .campers-intro-caption-bg {
  background-color: #008dcf;
}

.campers-intro .uk-slider .uk-active .campers-intro-caption-bg h4 {
  color: #fff;
}

.campers-intro .uk-slider .uk-active .campers-intro-title {
  color: #fff;
}

.campers-intro .uk-slider .uk-active .campers-intro-subtitle {
  color: #fff;
}

.campers-intro .uk-slider .uk-active .fa-chevron-down {
  color: #008dcf;
}

.campers-intro .uk-slider .uk-active .active-chevron {
  /*font-family: 'Font Awesome 5 Free';
				content: "\f078";
				font-weight: 900;
				color: $primaryblue;*/
  position: absolute;
  top: 83px;
  content: "";
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/down_arrow.png");
  height: 22px;
  width: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1024px) {
  .campers-intro .uk-slider .uk-active .active-chevron {
    top: 43px;
    height: 10px;
    width: 20px;
  }
}

.campers-intro .uk-position-center-left {
  content: "";
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/left_arrow.png");
  height: 35px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20%;
}

@media screen and (max-width: 768px) {
  .campers-intro .uk-position-center-left {
    height: 20px;
    top: 19%;
  }
}

.campers-intro .uk-position-center-right {
  content: "";
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/right_arrow.png");
  height: 35px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20%;
}

@media screen and (max-width: 768px) {
  .campers-intro .uk-position-center-right {
    height: 20px;
    top: 19%;
  }
}

.campers-intro .uk-slider-nav {
  display: none !important;
}

.grey-line {
  display: block;
  width: 70%;
  margin: 15px auto 0;
  border-bottom: 0px solid #dddddd;
}

/* Chevron Block
  ---------------------------------------------------------------------------- */
.chevron {
  position: relative;
  margin-bottom: 100px;
  /*&:after {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-bottom.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 18.6%;
		max-height: 100%;
		width: 100%;
		bottom: -9px;
	}*/
}

@media screen and (max-width: 768px) {
  .chevron {
    margin-bottom: 50px;
  }
}

.chevron:before {
  content: "";
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: -1px;
}

.chevron .chevron-wrapper {
  /*.triangle-divider{
				position: relative;
				border-bottom: 50px solid #fff;
				width: 100%;
				min-height: 1vh;
				.triangles{
					position: absolute;
					bottom: 0;
					background: #fff;
					padding-top: 3%;
					width: 100%;
					height: auto;
					svg{
						position: absolute;
						bottom: 100%;
						transform: scaleY(6);
						//width: 1000px;
						//height: 100px;
						&:not(:root){
						-webkit-transform: scaleY(6);
						-moz-transform: scaleY(6);
						-ms-transform: scaleY(6);
						-o-transform: scaleY(6);

								overflow: hidden;
								display: block;
								width: 100%;
								height: auto;
								max-height: 100%;
						}	
					}
				}
			}*/
}

.chevron .chevron-wrapper .pad-to-bot {
  padding: 150px 0px 150px 0px;
}

@media screen and (min-width: 1240px) {
  .chevron .chevron-wrapper .pad-to-bot {
    padding: 400px 0px 300px 0px;
  }
}

.chevron .chevron-wrapper .overlay-bg {
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

@media screen and (max-width: 1240px) {
  .chevron .chevron-wrapper .overlay-bg {
    padding: 60px 30px;
  }
}

.chevron .chevron-wrapper .overlay-bg .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1240px) {
  .chevron .chevron-wrapper .overlay-bg .wrap {
    display: block;
  }
}

.chevron .chevron-wrapper .overlay-bg .wrap__left .title-text h1 {
  font-size: 200px;
  color: #fff;
  line-height: 181px;
  margin-bottom: 15px;
}

.chevron .chevron-wrapper .overlay-bg .wrap__left .title-text h1:after {
  display: none !important;
}

@media screen and (max-width: 1420px) {
  .chevron .chevron-wrapper .overlay-bg .wrap__left .title-text h1 {
    font-size: 160px;
    line-height: 150px;
  }
}

.chevron .chevron-wrapper .overlay-bg .wrap__right {
  max-width: 680px;
  padding-left: 240px;
  padding-top: 12px;
}

.chevron .chevron-wrapper .overlay-bg .wrap__right .right-text {
  text-align: left;
}

@media screen and (max-width: 1240px) {
  .chevron .chevron-wrapper .overlay-bg .wrap__right .right-text {
    margin-top: 50px;
  }
}

.chevron .chevron-wrapper .overlay-bg .wrap__right .right-text h5 {
  color: #fff;
  font-size: 28px;
  font-family: futura-pt;
  font-weight: 700;
  line-height: 30px;
}

.chevron .chevron-wrapper .overlay-bg .wrap__right .right-text p {
  color: #fff;
  font-size: 22px;
  font-family: futura-pt;
}

@media screen and (max-width: 1640px) {
  .chevron .chevron-wrapper .overlay-bg .wrap__right {
    padding-left: 140px;
  }
}

@media screen and (max-width: 1420px) {
  .chevron .chevron-wrapper .overlay-bg .wrap__right {
    padding-left: 75px;
  }
}

@media screen and (max-width: 1240px) {
  .chevron .chevron-wrapper .overlay-bg .wrap__right {
    padding-left: 0px;
  }
}

.chevron .chevron-wrapper .overlay-bg .white-strip {
  width: 100%;
  height: 10px;
  background-color: #fff;
  margin-top: 85px;
}

@media screen and (max-width: 1240px) {
  .chevron .chevron-wrapper .overlay-bg .white-strip {
    margin-top: 20px;
  }
}

.chevron .chevron-wrapper .bottom-chevron {
  position: absolute;
  width: 100%;
  bottom: -3px;
}

/*.chevron {
	position: relative;
	img {
		width: 100%;
	}
	&:before {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 100%;
		top: -1px;
	}
	&:after {
		content: "";
		background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-bottom.svg');
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 18.6%;
		max-height: 100%;
		width: 100%;
		bottom: -9px;
		left: 0;
	}

	.chevron-wrapper__body{
		width:100%;
		max-height:100%;
		height:1130px;

	}
}*/
/* Media Queries
  ---------------------------------------------------------------------------- */
@media only screen and (min-width: 960px) {
  .full-width-content .entry-content > .alignwide {
    margin-left: -180px;
    margin-right: -180px;
    max-width: calc(100% + 360px);
    /* 360 equals sum of left and right margin */
    width: auto;
  }
  .alignfull .alignwide,
  .alignwide .alignwide {
    max-width: 1062px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 781px) {
  .site-container .wp-block-column {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* GENERAL SCSS
  ---------------------------------------------------------------------------- */
.text-white {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.image-text {
  position: relative;
  color: white;
}

a {
  color: inherit;
}

.mt-0 {
  margin-top: 0 !important;
}

/* UK
  ---------------------------------------------------------------------------- */
/* HEADER
  ---------------------------------------------------------------------------- */
/*.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
  }
  
  .top-right {
	position: absolute;
	top: 8px;
	right: 16px;
  }

  .image-with-text {
	text-align: center;
	position: relative;
  }

  .hkc-logo {
	position: absolute;
    top: 40%;
    left: 10%;
  }
  

  .nav-primary {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  }*/
/* WHY BUY
  ---------------------------------------------------------------------------- */
.why-hkc {
  text-align: center;
}

.why-hkc .no-pad {
  padding: 0px 30px 0px !important;
}

@media screen and (max-width: 1020px) {
  .why-hkc .uk-grid {
    margin-left: 0px !important;
    padding: 0px !important;
  }
}

.why-hkc .whyhkc-content-wrapper {
  background-image: none;
  background-color: #eeeeee;
  background-size: 100% 100%;
  max-width: 320px;
  width: 100%;
  padding: 20px 20px;
  height: 240px;
  max-height: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 1400px) {
  .why-hkc .whyhkc-content-wrapper {
    height: auto;
  }
}

.why-hkc .whyhkc-content-wrapper:hover {
  background-image: url("http://hard-korr-campers-2020.local/wp-content/uploads/Layer-8.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #fff;
}

.why-hkc .whyhkc-content-wrapper:hover .dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: -2;
}

.why-hkc .whyhkc-content-wrapper:hover h5, .why-hkc .whyhkc-content-wrapper:hover h6, .why-hkc .whyhkc-content-wrapper:hover p {
  color: #fff;
}

.why-hkc .whyhkc-content-wrapper h5 {
  font-size: 38px;
  font-family: antidotum;
  color: #000;
  margin: 5px;
}

.why-hkc .whyhkc-content-wrapper h6 {
  font-size: 19px;
  letter-spacing: 6px;
  color: #000;
  margin: 0;
}

.why-hkc .whyhkc-content-wrapper p {
  color: #000;
}

.why-hkc .whyhkc-content-wrapper .swap-on-hover__front-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media screen and (max-width: 1040px) {
  .why-hkc .mt-0 {
    margin-top: 30px !important;
  }
  .why-hkc .whyhkc-content-wrapper {
    max-width: 100%;
  }
}

.why-hkc .uk-card-body {
  padding: 25px;
}

/* END WHY BUY
    ---------------------------------------------------------------------------- */
/* FOOTER
  ---------------------------------------------------------------------------- */
/*.footer-logo {
	position: absolute;
	top: -100px;
	left: 16px;
  }
  
  .footer-text {
	position: absolute;
	top: 10%;
	left: 16px;
  }
  
  .footer-hr {
	border-top: 1px solid #fff;
	margin-bottom: 8px;
	margin-top: 8px;
	width: 50%;
  }
  
  i.fas-comment {
	display: inline-block;
	border-radius: 60px;
	padding: 0.5em 0.6em;
	background-color: #1e87f0;
  }
  
  $primaryblue: #008dcf;*/
/* Find Dealer
  ---------------------------------------------------------------------------- */
/*.find-dealer{
	.dealer-container{
		z-index: 1;
		position: relative;
		&:before {
			content: "";
			background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg');
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
			width: 100%;
			top: -1px;
		}
		.overlay-black{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;
			z-index: -1;
		}
		.uk-container{

			&.pad-to-bot{
				
					padding: 150px 0px 150px 0px;
					@media screen and (min-width:1240px){
						padding: 230px 0px 250px 0px;
					}
				
				 }
			.wrap{
				display: flex;
				justify-content: center;
				    padding: 60px 0px;
  
				&__left{
					width: 50%;
				  h1{
					  font-size: 200px;
					  color: #fff;
					  line-height: 214px;
					  margin-bottom: 15px;
					  &:after {
						  display: none !important;
					  }
  
					  @media screen and (max-width:1420px){
						  font-size: 160px;
						  line-height: 150px;
					  }
				  }
				}
				&__right{
					width: 50%;
					padding-top: 30px;
					.right_content{
						margin-bottom: 45px;
						h5{
							color: #fff;
							font-size: 28px;
							font-family: $futurabt;
							font-weight: 700;
							line-height: 30px;
						}

						p{
							color: #fff;
							font-size: 22px;
							font-family: $futurabt;
						}
					}
					.wrapper-map{
						width: 100%;
						height: 145px;
						background-color: #fff;
							.copy{
								width: 55%;
								float: left;
								height: 145px;
								h3{
									font-family: $futurabt;
									font-size: 34px;
									color: #000;
									font-weight: 800;
									text-transform: uppercase;
									margin: 0px;
									padding-left: 25px;
									padding-top: 25px;
								}
							}

							.bg-image{
								height: 145px;
								width: 45%;
								float: right;
								content: "";
								background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/australia-300x112.png');
								position: absolute;
								background-repeat: no-repeat;
								background-size: contain;
								max-width: 700px;
								width: 100%;
								background-position: right;
							}
						
					}
					
				}
			}
			.white-strip{
				background-color: #ffffff;
				width: 100%;
				height: 10px;

			}
			
		}
		.triangle-divider{
			position: relative;
			border-bottom: 50px solid #fff;
			width: 100%;
			min-height: 1vh;
			.triangles{
				position: absolute;
				bottom: 0;
				background: #fff;
				padding-top: 3%;
				width: 100%;
				height: auto;
				svg{
					position: absolute;
					bottom: 100%;
					transform: scaleY(6);
					//width: 1000px;
					//height: 100px;
					&:not(:root){
					-webkit-transform: scaleY(6);
					-moz-transform: scaleY(6);
					-ms-transform: scaleY(6);
					-o-transform: scaleY(6);

							overflow: hidden;
							display: block;
							width: 100%;
							height: auto;
							max-height: 100%;
					}	
				}
			}
		}
	}
}

  
  /*.dealer-container {
	position: relative;
  
  }
  
  .dealer-img {
	filter: grayscale(50%);
  }
  
  .dealer-title {
	position: absolute;
	top: 300px;
	font-size: 6em;
	color: #fff;
  }
  
  .dealer-content {
	position: absolute;
	top: 300px;
	color: #fff;
  }
  
  .find-dealer {
	position: absolute;
	top: 400px;
	background-color: white;
  }
  
  .dealer-hr {
	position: absolute;
	top: 600px;
	width: 50%;
	border: 2px solid #fff;
	left: 330px;
  }/*

  /* Camper
  ---------------------------------------------------------------------------- */
.camper-header-overlay {
  position: relative;
  width: 100%;
}

.camper-header-overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 175, 221, 0.8);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.camper-header-overlay .top-bg-img {
  width: 100%;
  vertical-align: top;
}

.triangle-divider {
  position: relative;
  border-bottom: 50px solid #fff;
  width: 100%;
  min-height: 1vh;
}

.triangle-divider .triangles {
  position: absolute;
  bottom: 0;
  background: #fff;
  padding-top: 3%;
  width: 100%;
  height: auto;
}

.triangle-divider .triangles svg {
  position: absolute;
  bottom: 100%;
  -webkit-transform: scaleY(6);
          transform: scaleY(6);
}

.triangle-divider .triangles svg:not(:root) {
  -webkit-transform: scaleY(6);
  -moz-transform: scaleY(6);
  -ms-transform: scaleY(6);
  -o-transform: scaleY(6);
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.feature-image {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
}

.price {
  font-family: antidotum;
}

ins {
  color: #008dcf;
}

del, .woocommerce_price-amount {
  color: #aaaaaa !important;
}

.feature_icon {
  height: 50px;
}

.feature-title {
  color: #000;
  font-family: antidotum;
  margin-top: 15px;
  margin-bottom: 5px;
}

.feature-text {
  color: #000;
  font-size: 16px;
}

.feature-box-img {
  position: relative;
  width: 100%;
}
/*# sourceMappingURL=style-frontend.css.map */