.woocommerce-result-count {
    display: none;
}

.woocommerce ul.products li.product h2, .woocommerce-page ul.products li.product h2 {
    font-family: Raleway,Helvetica,sans-serif;
    text-transform: none;
    font-size: .875rem !important;
    margin: 0;
    padding: .5em 5px !important;
    background-color: rgba(52,51,49,.2);
    line-height: 1.4;
    font-style: normal;
    font-weight: 600;
    color: #343331;
    &:after {
        display: none !important;
    }
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
    max-width: 450px;
    margin-bottom: 30px;
}

ul.products li.product span.price {
    width: 100%;
    font-size: .875rem !important;

}

.price-cart-container {
    padding: 5px 5px 10px;
    background: #343331;
    background: url(/wp-content/uploads/iron-grip.png),-moz-radial-gradient(center,ellipse cover,#343331 0%,#161513 100%);
    background: url(/wp-content/uploads/iron-grip.png),-webkit-radial-gradient(center,ellipse cover,#343331 0%,#161513 100%);
    background: url(/wp-content/uploads/iron-grip.png),radial-gradient(ellipse at center,#343331 0%,#161513 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343331',endColorstr='#161513',GradientType=1 );
    margin-top: 3px;
}