// Camper Specific Styles

     .camper-products {
    // * Header
    .camper-header-overlay {
	position: relative;
	width: 100%;
	&:after {
		content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(76, 175, 221, 0.8);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
	}
	.top-bg-img {
		width: 100%;
		vertical-align: top;
		
	}
}


ins {
	color: $primaryblue;
}

del, .woocommerce_price-amount {
	color: #aaaaaa !important;
}

// Featute Icon
  .feature_icon {
	  height: 50px;
  }

  .feature-title {
	color: #000;
    font-family: antidotum;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .feature-text {
	color: #000;
	font-size: 16px;
  }




// 

// .woocommerce-product-gallery{
//     .woocommerce-product-gallery__trigger {
//         display: none;
//     }
//     }

// .woocommerce-product-gallery__wrapper {
//         .woocommerce-product-gallery__image {
//             display: none;
//         }
// }

        
    // Gallery
   
    
    
    @media screen and (min-width:$breakpoint-large){
    .product_title {
        float: right;
    }
}
    
    

    // Feature Icons
    .info-title {
        color: #000;
        font-family: antidotum;
        margin: 30px 0 15px 0;
        font-size: 26px;
        letter-spacing: 0.65px;
    }

    .entry-summary {
       // width: 100% !important;
    }

    .info-text {
        color: #000;
        font-size: 19px;
        letter-spacing: 0.95px;
    }
    
    // Feature Boxes
   

    // CONTENT LEFT
 
    // CONTENT RIGHT
   

    
    // * Standard/Option
    .standard-content {
        position: absolute;
        width: 15%;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0px 5px 5px 5px;
    }


    .standard-img {
        width: 100%;
    }

    .standard-overlay {
        padding: 5px 0px 5px 5px;
    }

   
    
    .standard-option-padding {
        padding: 5px 0px 5px 5px;
    }
        
    .standard {
        color: #fff;
        background-color: $primaryblue;
        font-family: futura-pt;
        padding: 5px 0px 5px 5px;
    }
    
    .option {
        color: #fff;
        background-color: #009946;
        font-family: futura-pt;
        padding: 5px 0px 5px 5px;
    }
    
    .shadow {
       // box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 3px 4px 2px -1px rgba(0, 0, 0, 0.2);
    }
    
    .standard-row {
        margin: 0 0 20px 0;
    }
}

.top-woocommerce-wrapper{
    padding-bottom: 50px;
    .product{
        .title-price-wrap{
            position: absolute;
        }
        .entry-summary{
            //position: absolute;
            .woocommerce-product-details__short-description {
                padding: 42px 50px !important;
                p{
                    margin-bottom: 10px;
                }
                .rate-image{
                    text-align: right;
                }
            }
        }

        .price-wrapper{
           // width: 40%;
            .product{
                .price {
                    float: right;
                }
            }
        }

        @media screen and(max-width:1200px){
            .title-price-wrap{
                position: static;
                text-align: center;
                .title-wrapper{
                    h1{
                        font-size: 80px;
                        letter-spacing: 0.5px;
                    }
                }

            }
            .price-wrapper{
                width: 100%;
                .product{
                    .price {
                        float: none;
                       // font-size: 16px !important;
                    }
                }
            }
        }
    }
}

.icon-wrapper{
    .uk-grid{
        
        @media screen and(max-width:855px){
            display: block !important;
            .mobile-center{
                width: 100% !important;
                margin-bottom: 30px;
            }
            &.mt-100{
                margin-top: 0px;
            }
        }
    }
}




.product{
    .woocommerce-product-gallery{
        width: 100% !important;

        &__image{
            a{
                img{
                    width: 80% !important;
                    margin: 0 auto !important;
                }
            }
        }
        .flex-control-thumbs{
            margin: 50px 0px 50px !important;
            width: 100% !important;
            text-align: center;
            
            li{
                display: inline-block !important;
                margin-left: 30px !important;
                float: none !important;
                width: 10% !important;
            }
        }
    }
   
    .wc-tabs-wrapper{
        .woocommerce-Tabs-panel{
            .uk-grid{
                @media screen and (max-width:1200px) {
                    display: block !important;
                    padding: 20px 20px;
                    margin: 0px !important;
                    .uk-width-3-5{
                        width: 100% !important;
                        padding: 0px !important;
                        margin-bottom: 30px;
                    }
                    
                    .uk-width-2-5{
                        width: 100% !important;
                        padding: 0px !important;
                    }
                }
            }
        }
        .wc-tabs{
            li{
                a{
                    letter-spacing: -1px;
                }
            }
        }
    }
    
}

.feature-wrapper{
    .box-wrap{
        position: relative;
       // display: inline-block; /* Make the width of box same as image */
        width: 100%;
        overflow: hidden;
        height: 100%;   
        min-height: 500px;

        &__left{
            background-color: rgba(0, 141, 208, 0.6);
            height: 100%;
            width: 40%;
            opacity: 1;
            top: 0;
            left: 0;
            position: absolute;
            text-align: left;
            //padding: 70px;
            -webkit-transition: opacity .5s;
            transition: opacity .5s;
            overflow: hidden;
            p {
                font-size: 20px;
                @media screen and (max-width:1265px){
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            .content-left{
                color: #fff !important;
                padding: 20px 0px 20px 70px;
                @media screen and (max-width:1265px){
                    padding: 20px 0px 20px 40px;
                }
                @media screen and (max-width:768px){
                    padding: 20px 0px 20px 20px;
                }
            }
        }
        .feature-box-arrow-right {
            border-style: solid;
            border-width: 245px 0 245px 100px;
            border-color: transparent transparent transparent rgba(0, 141, 208, 0.6);
            position: absolute;
            top: 0;
            left: 40%;
            height: 100%;
        }
    
        &__right{
            background-color: rgba(0, 141, 208, 0.6);
            height: 100%;
            width: 40%;
            opacity: 1;
            top: 0;
            right: 0;
            position: absolute;
            text-align: right;
            //padding: 70px;
            -webkit-transition: opacity .5s;
            transition: opacity .5s;
            overflow: hidden;
            p {
                font-size: 20px;
                @media screen and (max-width:1265px){
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            .content-right{
                color: #fff !important;
                padding: 20px 70px 20px 0px;
                @media screen and (max-width:1265px){
                    padding: 20px 40px 20px 0px;
                }
                @media screen and (max-width:768px){
                    padding: 20px 20px 20px 0px
                }
            }
        }

        @media screen and (max-width:768px){
            .feature-box-arrow-right {
                display: none;
            }
            .feature-box-arrow-left {
                display: none;
            }
            &__right{
                width: 100%;
                height: auto;
            }
            &__left{
                width: 100%;
                height: auto;
            }
        }
        .feature-box-arrow-left {
            border-style: solid;
            border-width: 245px 100px 245px 0;
            border-color: transparent rgba(0, 141, 208, 0.6) transparent transparent;
            position: absolute;
            top: 0;
            right: 40%;
            height: 100%;
        }
        .feature-box-title {
            color: #fff;
            font-family: antidotum;
            margin: 30px 0 15px 0;
            font-size: 60px;
            letter-spacing: 1.5px;
    
            @media screen and (max-width:1265px){
                font-size: 50px;
                margin: 5px 0 10px 0;
                line-height: 55px;
            }
        }
        @media screen and (max-width:768px){
            background-position: center !important;
        }
    }
}

.uk-text-center{
    .uk-inline {
        width: 100%;
        max-width: 250px !important;
        margin: 0px 13px 30px;

        .uk-overlay{
            padding: 8px 15px !important;
            max-height: 83px;
            height: 100%;
        }
        .uk-overlay-default{

            .standard-title {
                color: #000;
                font-family: futura-pt;
                margin: 0 0 3px 0;
                font-size: 20px;
                font-weight: bold;
                line-height: 22px;
            }
            
            .standard-subtitle {
                color: #666666;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 16px;
               
            }
            p{
                margin: 0;
                padding: 5px;
            }
        }
    }
}