$primaryblue: #008dcf;
$primaryorange: #f57f20;
$futurabt: futura-pt;
$antidotum: antidotum;

.wp-block-coblocks-row{
            padding-bottom: 100px;
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
}
.coblocks-column-211111528589{
    width: 55% !important;
}
@media screen and (max-width:1140px){
    .wp-block-coblocks-row:not([data-columns="1"]) .wp-block-coblocks-row__inner {
        display: -webkit-box;
        display: block !important;
    }
    .has-medium-gutter > [class*="wp-block-coblocks-column"]:not(:last-child) {
        margin-right: 0em !important;
    }
    .coblocks-column-211111528589{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .coblocks-column-211111528580{
        width: 100% !important;
        margin-right: 0px !important;
    }
}



.wp-block-coblocks-row__inner {
    .wp-block-coblocks-column{
        .wp-block-coblocks-column__inner {
            color: #000;
            .wp-block-image{
                margin-bottom: 50px;
                padding: 0px !important;
                img{
                    width: 500px;
                    height: auto;
                    @media screen and (max-width:1140px){
                        width: 300px;
                    }
                    @media screen and (max-width:789px){
                        width: 200px;
                    }
                }
            }

            p{
                font-size: 24px;
                font-family: $futurabt;
                
                .blu-number{
                    font-size: 36px;
                    font-weight: 700;
                    color: $primaryblue;
                    text-decoration: none;
                }
                a{
                    text-decoration: none;
                }
            }
            .name-top{
                font-size: 24px;
                font-family: $futurabt;
                font-weight: 600;
                line-height: 24px;
       
                span{
                    font-family: $futurabt;
                    font-weight: 300;
                    font-style: italic;
                    font-size: 16px;
                }
            }
            .wpcf7{
                .wpcf7-form{
                    width: 100%;
                    max-width: 700px;
                    .ajax-loader{
                        display: none;
                    }

                    .form-wrapper{
                        display: flex;
                        justify-content: center;
                        flex: wrap;
                        width: 100%;
                        max-width: 700px;
                        font-family: $futurabt;
                        margin-bottom: 20px;
                        }

                        label{
                            font-size: 16px !important; 
                            font-family: $futurabt;
                            font-weight: 400;
                            line-height: 36px;
                        }
                        p{
                            margin-bottom: 5px;
                        }
                        
                        #left{
                            margin-right: 20px;
                        }
                       

                        .model-class{
                            font-size: 16px !important;
                        }

                        .wrap{
                            overflow: hidden;
                            position: relative;
                            display: block;
                            .wpcf7-form-control-wrap{
                                .wpcf7-select{
                                    height: 35px;
                                    border: 2px solid $primaryblue;
                                    width: 100%;
                                    max-width: 340px;
                                    background-color: #eee;
                                    -webkit-border-radius: 0;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance:none;
                                }
                            }
                            &::after{
                                content: "\f0d7";
                                font-size: 20px;
                                display: block;
                                font-family: "FontAwesome5FreeSolid";
                                position: absolute;
                                top: 5px;
                                z-index: 1;

                                content:"\f0d7 ";
                                font-family: FontAwesome;
                                color: #000;
                                position: absolute;
                                right: 0px;
                                top: 35px;
                                z-index: 1;
                                width: 10%;
                                height: 100%;
                                cursor: pointer;
                                //pointer-events: none;
                            }
                        }
                    .wpcf7-form-control-wrap{
                        input{
                            height: 35px;
                            border: 2px solid $primaryblue;
                            width: 100%;
                            max-width: 340px;
                            background-color: #eee;
                        }
                        .wpcf7-not-valid-tip{
                            display: none !important;
                        }
                        .wpcf7-not-valid{
                            border: 2px solid red !important;
                        }
                       

                        .wpcf7-checkbox{
                            .wpcf7-list-item{
                                margin: 0px !important;
                                input[type="checkbox"] { 
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid $primaryblue !important;
                                    border-radius: 0px;
                                    background-color:#e9e9e9;
                                }
                                
                                .wpcf7-list-item-label{
                                    font-size: 16px;
                                }
                            }
                        }
                        .wpcf7-textarea{
                            border: 2px solid $primaryblue;
                            height: 120px;
                            max-height: 100%;
                            width: 100%;
                            background-color:#e9e9e9;
                        }
                    }
                    .wpcf7-submit{
                        width: 100%;
                        max-width: 280px;
                        height: 60px;
                        background-color: $primaryorange;
                        border: 0px;
                        color: #fff;
                        font-size: 30px;
                        cursor: pointer;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}