    
    .wpcf7-form {
        color: #000;
    }

.contact-section {
    h3{
        font-family: antidotum;
        color: #000;
        font-size: 48px;
        line-height: 70px;
    }
    hr {
        margin: 0 0 30px 0;
        border-top: 3px solid #0b8dcd;
    }
    p {
        color: #000;
        font-size: 22px;
    }
    label {
        font-size: 16px !important;
        font-family: futura-pt;
        font-weight: 400;
        line-height: 36px;
    }
    input {
        height: 35px;
        border: 2px solid #008dcf;
        width: 100%;
        background-color: #eee;
    }
    textarea {
        border: 2px solid #008dcf;
        height: 120px;
        max-height: 100%;
        width: 100%;
        background-color: #e9e9e9;
    }
    .wpcf7-submit {
        width: 100%;
        max-width: 280px;
        height: 60px;
        background-color: #f57f20;
        border: 0px;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        margin-top: 20px;
        &:hover{
            color: #fff;
        }
    }

}

.headoffice-title {
    color: #000;
}


.head-office {
    .fa-map-marker {
    color: $primaryblue;
}
.fa-laptop {
    color: $primaryblue;
}
.fa-phone {
    color: $primaryblue;
}
.fa-envelope {
    color: $primaryblue;
}
    .title {
        color: #000;
        font-family: antidotum;
        font-size: 26px;
        letter-spacing:0.65px;
        margin: 10px 0 10px 0;
        margin: 10px 0 10px 0;
    }
    .subtitle {
        color: #000;
        font-size: 19px;
        letter-spacing:0.95px;
    }
}