// Events styling
.breadcrumb {
    display: none !important;
}

.events-archive .entry-content, .events-archive .entry-header {
    width: 100%;
}

.tribe-events-page-title {
    color: #000;
    font-family: antidotum;
	font-size: 78px;
	margin-top: 0;
	&:after {
		content: "";
		display: block;
		width: 10%;
		margin: 20px auto 0;
		border-bottom: 8px solid $primaryblue;
	}
}
