.find-dealer{
	padding-bottom: 90px;
	.dealer-container{
		z-index: 1;
		position: relative;
		&:before {
			content: "";
			background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/chevron-top.svg');
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
			width: 100%;
			top: -1px;
		}
		.overlay-black{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;
			z-index: -1;
		}
		.uk-container{

			&.pad-to-bot{
				
					padding: 150px 20px 150px 20px;
					@media screen and (min-width:1240px){
						padding: 230px 50px 250px 50px;
					}
				
				 }
			.wrap{
				display: flex;
				justify-content: center;
					padding: 60px 0px;
					@media screen and (min-width:1240px){
						padding: 120px 0px 60px;
					}
  
				&__left{
					width: 50%;
				  h1{
					  font-size: 200px;
					  color: #fff;
					  line-height: 214px;
					  margin-bottom: 15px;
					  &:after {
						  display: none !important;
					  }
  
					  @media screen and (max-width:1420px){
						  font-size: 160px;
						  line-height: 150px;
					  }
				  }
				}
				&__right{
					width: 50%;
					padding-top: 30px;
					max-width: 700px;
					width: 100%;
					.right_content{
						margin-bottom: 45px;
						h5{
							color: #fff;
							font-size: 28px;
							font-family: $futurabt;
							font-weight: 700;
							line-height: 30px;
						}

						p{
							color: #fff;
							font-size: 22px;
							font-family: $futurabt;
						}
					}
					.wrapper-map{
						width: 100%;
						height: 145px;
						background-color: #fff;
						max-width: 700px;
						width: 100%;
							.copy{
								width: 55%;
								float: left;
								height: 145px;
								h3{
									font-family: $futurabt;
									font-size: 34px;
									color: #000;
									font-weight: 800;
									text-transform: uppercase;
									margin: 0px;
									padding-left: 25px;
									padding-top: 25px;
								}
							}

							.bg-image{
								height: 145px;
								width: 45%;
								float: right;
								content: "";
								background-image: url('http://hard-korr-campers-2020.local/wp-content/uploads/australia-300x112.png');
								position: absolute;
								background-repeat: no-repeat;
								background-size: contain;
								max-width: 700px;
								width: 100%;
								background-position: right;
							}


							@media screen and (max-width:1520px){
								height: 115px;
								.copy{
									height: 115px;
									h3{
										font-size: 30px;
										padding-left: 15px;
										padding-top: 15px;
									}
								}
								.bg-image{
									height: 115px;
									//max-width: 655px;
									width: 100%;
								}
							}
							@media screen and (max-width:750px){
								max-width: 330px;
								height: 50px;
								.copy{
									width: 48%;
									height: 50px;
									h3{
										font-size: 15px;
										padding-left: 5px;
										padding-top: 3px;
									}
								}
								.bg-image{
									height: 50px;
									width: 100%;
									max-width: 330px;
								}

							}
						
					}
					
				}
				@media screen and (max-width:1155px){
					display: block;
					padding: 40px 0px;
					&__right{
						width: 100%;
						max-width: 100%;
					}
					&__left{
						width: 100%;
					}


				}
			}
			.white-strip{
				background-color: #ffffff;
				width: 100%;
				height: 10px;

			}
			
		}
		.bottom-chevron{
			position: absolute;
			width: 100%;
			bottom: -3px;
		}
		/*.triangle-divider{
			position: relative;
			border-bottom: 50px solid #fff;
			width: 100%;
			min-height: 1vh;
			.triangles{
				position: absolute;
				bottom: 0;
				background: #fff;
				padding-top: 3%;
				width: 100%;
				height: auto;
				svg{
					position: absolute;
					bottom: 100%;
					transform: scaleY(6);
					//width: 1000px;
					//height: 100px;
					&:not(:root){
					-webkit-transform: scaleY(6);
					-moz-transform: scaleY(6);
					-ms-transform: scaleY(6);
					-o-transform: scaleY(6);

							overflow: hidden;
							display: block;
							width: 100%;
							height: auto;
							max-height: 100%;
					}	
				}
			}
		}*/
	}
}
