$futurabt: futura-pt;
$antidotum: antidotum;
.footer-wrapper{
    position: relative;
    padding: 100px 0px 105px;
    z-index: 1;
    .overlay-footer{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: -1;
    }
    h4{
        font-family:$antidotum;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 0px !important;
        color: #ffffff;
        //line-height: 0px !important;
        margin-bottom: 9px;
    }
   

    &__wrap{
        display: flex;
        justify-content: center;
        &--left{
            width: 50%;
            .social-icons{
             padding-top: 10px;
                a{
                    text-decoration: none;
                    border: none !important;
                    
                    .fab{
                        color: #ffffff;
                    }
                }
            }

            p{
                font-family: $futurabt;
                font-size: 1rem;
                color: #ffffff;
                font-weight: 600;
                margin-bottom: 25px;
                a{
                    text-decoration: none;
                   border: none !important;
                }
           }
        }
        &--right{
            width: 50%;
            .search-div{
                padding: 5px 0px 10px;
                 .is-ajax-search label{
                    width: 100% !important;
                }
                 .is-search-form{
                     .is-search-input{
                        padding: 8px 12px;
                        font-size: 18px;
                        line-height: 1px;
                        border-radius: 0;
                        border: 2px solid #000000;
                        font-family: $futurabt !important;
                        //width: 500px;
                        width: 100%;
                        //max-width: 500px;
                        //border-right-style: none;
                     }

                     .is-search-submit{
                        position: relative;
                         border: 0px;
                         .is-search-icon{
                            display: inline-block;
                            padding: 5px;
                            color: #000;
                            background: #fff;
                            outline: 0;
                            font-size: 21px;
                            border: 0px;
                            //border: 2px solid #000000;
                            border-radius: 0;
                            line-height: 1;
                            height: 21px;
                            border-left-style: none;
                            position: absolute;
                            width: 25px;
                            top: -20px;
                            right: -25px;
                         }
                     }
                 }
             }
            .footer-menu{
            max-width: 240px;
            h4{
                margin-bottom: 0px !important;
            }
            width: 100%;
                &__list{
                list-style: none;
                    &--item{
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 600;
                        border-bottom: 2px solid #fff;
                        line-height: 35px;
                        &:nth-child(7){
                            border-bottom: none;
                        }
                        a{
                            text-decoration: none;
                            border: none !important;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        @media screen and (max-width:1140px){
            display: block;
            &--left{
                width: 100%;
                padding-bottom: 50px;
            }
            &--right{
                width: 100%;
            }
        }
    }
    .comment-wrap{
        position: absolute;
        bottom: 50px;
        right: 50px;
        .fas{
            background: #008dcf;
            border-radius: 50px;
            width: 70px;
            height: 70px;
            position: relative;
            &::before{
                font-weight: 900;
                font-size: 50px;
                color: #fff;
                padding: 9px 12px;
                position: absolute;
            }
        }
    }
}