$futurabt: futura-pt;
$antidotum: antidotum;


.site-header{
   // background-color: transparent !important;
   
    .wrap{
        .nav-primary {
            display: none !important;
          }
          #genesis-mobile-nav-primar{
            display: none !important;
          }
     .header-wrapper{
            .header-top{
                transition: all 0.5s ease;
                padding: 5px;
                height: 30px;
                background-color: #4d4d4a;
                @media screen and (max-width:1090px){
                  height: auto;
                }
                .top-wrapper{
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    flex-direction: row;
                    color: white;
                    position: relative;
                    @media screen and (max-width:1090px){
                      display: block;
                      text-align: center;
                    }

                    p{
                        font-size: 14px;
                        font-family:$futurabt;
                        font-weight: 600;
                        margin: 0px;
                    }
                    a{
                        font-size: 14px;
                        font-family:$futurabt;
                        font-weight: 600;
                        text-decoration: none;
                        border: none;
                        .fas, .fab{
                            margin-right: 5px;
                        }
                    }
                    .left-panel{
                        position: absolute;
                        left: 0;
                        top: -1px;
                        @media screen and (max-width:1090px){
                          position:static;
                        }
                    }
                    .right-panel{
                        position: absolute;
                        right: 0;
                        top: -1px;
                        @media screen and (max-width:1090px){
                          position:static;
                        }

                        &__phone{
                            display: inline-block;
                            border: none;
                            margin-right: 5px;
                        }
                        &__email{
                            display: inline-block;
                            border: none;
                            margin-right: 5px;
                        }
                        &__social{
                            display: inline-block;
                            border: none;
                            margin-right: 5px;
                        }
                    }
                }
                body.page-template-default.scrolled-down & {
                    display: none;
                }
                body.page-template.scrolled-down & {
                    display: none;
                }
                body.product-template-default.scrolled-down & {
                    display: none;
                }
            }
            .header-bottom{
                    @media screen and (max-width:1440px){
                        padding: 10px 0px;
                    }
                    padding: 10px 20px;
                    height: 80px;
                    position: relative;
                    -webkit-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.32);
                    -moz-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.32);
                    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.32);
                    //transition:height 300ms ease;
                    transition: all 0.5s ease;
                    @media screen and (min-width:1090px){
                        body.page-template-default.scrolled-down & {
                            padding: 3px 20px;
                            height: 64px;
                        }
                        body.page-template.scrolled-down & {
                            padding: 3px 20px;
                            height: 64px;
                        }
                        body.product-template-default.scrolled-down & {
                            padding: 3px 20px;
                            height: 64px;
                        }
                    }


                @media screen and (max-width:1090px){
                    height: 60px;
                        .mobile-padd{
                            padding-left: 0px !important;
                            padding-right: 0px !important;
                            margin: -5px -15px -8px;
                        }
                }
                .overlay-header{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.6);
                        top: 0;
                        left: 0;
                    // z-index: -1;
                        @media screen and (max-width:1090px){
                        z-index: -1;
                        }
                    }

                    .bottom-wrapper{
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        position: relative;
                        .left-panel{
                            position: absolute;
                            left: 0;


                            .hkc-logo{
                                transition: all 0.5s ease;
                                @media screen and (min-width:1090px){
                                    body.page-template-default.scrolled-down & {
                                        width: 250px;
                                    }
                                    body.page-template.scrolled-down & {
                                        width: 250px;
                                    }
                                    body.product-template-default.scrolled-down & {
                                        width: 250px;
                                    }
                                }
                            }
                            
                           
                            @media screen and (max-width:1440px){
                                .hkc-logo{
                                    width: 230px;
                                }
                            }
                            @media screen and (max-width:1090px){
                                left: 30px;
                                top: 2px;
                                z-index: 999;
                            }
                        }
                    /*.right-panel{
                        position: absolute;
                        right: 0;
                        top: 5px;
                        @media screen and (max-width:1440px){
                          top: 5px;
                        }
                        .menu-wrapper{
                            .menu{
                                font-family: $futurabt;
                                font-weight: 600;
                                font-size: 18px;
                                  @media screen and (max-width:1440px){
                                    font-size: 16px;
                                  }
                                ul{
                                  list-style:none;
                                  margin:0;
                                  padding:0;
                                  display:flex;
                                  flex-wrap:wrap;
                                  li{
                                    padding: 0 20px;
                                        @media screen and (max-width:1440px){
                                        padding: 0 10px;
                                        }
                                    > ul{
                                        display:flex;
                                        visibility:hidden;
                                        position:absolute;
                                        left:-99999;
                                        flex-direction:column;
                                        li{
                                            width:100%;
                                            position:relative;
                                        }
                                    }
                                    &:hover{
                                        a{
                                            color:#fff;
                                            border-bottom: 8px solid #0b8dcd;
                                        }
                                        &:focus{
                                            color: #39f !important;
                                            outline: none !important;
                                        }
                                        > ul{
                                                visibility:visible;
                                                position:relative;
                                                left:0;
                                            }
                                        }
                                    }
                                } 
                               
                                a{
                                  text-transform:uppercase;
                                  display:block;
                                  padding: 16px 0px;
                                  color:white;
                                  text-decoration:none;
                                  text-align:center;
                                }
                                
                                .sub-menu li > a {
                                  background:#000;
                                  color:#fff;
                                  border-bottom: none !important;
                                }
                                
                                .sub-menu > a:after{
                                  content:"\f107";
                                  font-family: "Font Awesome 5 Free";
                                  padding-left:5px;
                                     
                                }
                                    @media screen and (max-width:1090px){
                                    display: none;
                                    }
                                }
                            }
                        }*/
                      
                    .right-panel{
                        position:absolute;
                        z-index: 99;
                        right: 0;
                        top: -5px;

                        @media screen and (max-width:1090px){
                            width: 100%;
                            background-color: rgba(0,0,0,0.6);
                            height: 60px;
                            right: 15px;
                        }
                        .menu {
                            &__inner {
                                padding:0px 15px;
                                // background:$clr-grey;
                                line-height:65px;
                                text-align:center;
                                color:#FFF;
                                text-transform: uppercase;
                                
                            }
                        
                            ul {
                                display:block;
                                margin:0px;
                                padding:0px;
                                @media screen and (min-width:1440px){
                                    display:block !important;
                                }
                        
                                li {
                                    display:inline-block;
                                    margin:0px;
                                    padding:0;
                                    font-weight:600;
                                    list-style:none;
                                    cursor: pointer;
                        
                                    &.active {
                                        font-weight:800;
                                        
                                    }
                                    &.dropdown{
                                        position: relative;
                                        //display: inline-block;
                                        .dropdown-content{
                                            position: absolute;
                                            background-color: #000;
                                            min-width: 335px;
                                            width: 100%;
                                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                            z-index: 1;
                                            text-align: left;
                                            line-height: 36px;
                                            display: none; 
                                            cursor: pointer;
                                            a{
                                                display: block;
                                            }

                                            @media screen and (max-width:1090px){
                                                text-align: center;
                                                padding: 15px 0px;
                                            }
                                        }
                                        &:hover{
                                            .dropdown-content{
                                                display: block;
                                            }
                                        }
                                        &:after{
                                            content:"\f107";
                                            font-family: "Font Awesome 5 Free";
                                            padding-left:5px;
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            @media screen and (max-width:1440px){
                                                right: -6px;
                                            }
                                            @media screen and (max-width:1090px){
                                                top: 1px;
                                                // right: -5px;
                                                left: 110px;
                                                font-size: 15px;
                                            }
                                        }
                                    }
                        
                                    a{
                                        padding:0px 20px;
                                        display:block;
                                        transition: all 300ms ease;
                                        text-decoration: none;
                        
                                        &:hover{
                                            color:#FFF;
                                            background:transparent;
                                            border-bottom: 10px solid #39f !important;
                                        }
                                        &:focus{
                                            color: #fff !important;
                                            outline: none !important; 
                                            
                                        }
                                        @media screen and (max-width:1440px){
                                            padding:0px 10px;
                                            font-size: 16px;
                                        }
                                        
                                    }
                                }
                            }
                        
                            .hamburger{
                                display:none;
                                position: relative;
                                height:18px;
                                width:30px;
                                margin-left:auto;
                                cursor: pointer;
                        
                                span{
                                    top:0;
                                    left:0;
                                    width:100%;
                                    height:2px;
                                    background:#FFF;
                                    position: absolute;
                                    transition: all 300ms ease;
                        
                                    &:nth-child(1){
                                        top:0;
                                    }
                                    &:nth-child(2){
                                        top:8px;
                                    }
                                    &:nth-child(3){
                                        top:16px;
                                    }
                                }
                        
                                &.open{
                                    span{
                                        &:nth-child(1){
                                            top:8px;
                                            transform:rotate(45deg);
                                        }
                                        &:nth-child(2){
                                            width:0;
                                        }
                                        &:nth-child(3){
                                            top:8px;
                                            transform:rotate(-45deg);
                                        }
                                    }
                                }
                            }
                        
                            @media screen and (max-width:1090px){
                                // margin:-40px 0 0;
                        
                                &__inner {
                                    padding:20px 0px;
                                    line-height:45px;
                                }
                        
                                .hamburger{
                                    display:block;
                                    span{
                                        left: -15px;
                                    }
                                }
                        
                                ul{
                                    display:none;
                                    margin-top: 20px;
                                    background-color: rgba(0, 0, 0, 0.6);
                        
                                    li{
                                        display:block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .header-triangle {
//     @media (min-width: 992px){
//         margin-bottom: 20px;
//     }
//     @media (min-width: 1800px){
//         margin-bottom: 60px;
//     }
//     .header-overlay {
//         position: relative;
//         width: 100%;
//         &:after {
//             content: '\A';
//         position: absolute;
//         width: 100%; height:100%;
//         top:0; left:0;
//         background:rgba(76, 175, 221, 0.8);
//         opacity: 1;
//         transition: all 1s;
//         -webkit-transition: all 1s;
//         }
//     }

//     .page-title{
//         color: #fff !important;
//         position: absolute;
//         letter-spacing: 4px;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         &:after {
//             content: none;
//         }
//         @media (min-width: 576px){
//             top: 25%;
//         }
//         @media (max-width: 576px){
//             top: 35%;
//         }
//         @media (min-width: 768px){
//             top: 28%;
//         }
//         @media (min-width: 992px){
//             top: 33%;
//         }
//         @media (min-width: 1200px){
//             top: 40%;
//         }
//         @media (min-width: 1800px){
//             top: 55%;
//         }
//     }
    
//     .triangle-divider{
//         position: relative;
//         border-bottom: 50px solid #fff;
//         width: 100%;
//         min-height: 1vh;
//         .triangles{
//             position: absolute;
//             bottom: 0;
//             background: #fff;
//             padding-top: 3%;
//             width: 100%;
//             height: auto;
//             svg{
//                 position: absolute;
//                 bottom: 100%;
//                 transform: scaleY(6);
//                 //width: 1000px;
//                 //height: 100px;
//                 &:not(:root){
//                 -webkit-transform: scaleY(6);
//                 -moz-transform: scaleY(6);
//                 -ms-transform: scaleY(6);
//                 -o-transform: scaleY(6);
    
//                         overflow: hidden;
//                         display: block;
//                         width: 100%;
//                         height: auto;
//                         max-height: 100%;
//                 }	
//             }
//         }
//     }

// }



// HEADER NEW
.header-section {
    z-index: 1;
    position: relative;
    margin-bottom: 40px;

    @media screen and (min-width:$breakpoint-small){
        margin-bottom: 40px;
    }
    @media screen and (min-width:$breakpoint-medium){
        margin-bottom: 50px;
    }
    @media screen and (min-width:$breakpoint-large){
        margin-bottom: 50px;
    }
    @media screen and (min-width:$breakpoint-xlarge){
        margin-bottom: 100px;
    }

.bottom-chevron {
    position: absolute;
    width: 100%;
    bottom: -3px;
}
.header-overlay {
            position: relative;
            width: 100%;
            &:after {
                content: '\A';
            position: absolute;
            width: 100%; height:100%;
            top:0; left:0;
            background:rgba(0, 141, 208, 0.6);
            opacity: 1;
            transition: all 1s;
            -webkit-transition: all 1s;
            }
        }
.page-title{
    color: #fff !important;
    position: absolute;
    font-size: 40px;
    letter-spacing: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    &:after {
        content: none;
    }
    @media screen and (min-width:$breakpoint-small){
        //top: 73%;
        font-size: 50px;
        
    }
    @media screen and (min-width:$breakpoint-medium){
        // top: 80%;
        font-size: 100px;
        letter-spacing: 4px;
     }
     @media screen and (min-width:$breakpoint-large){
         //top: 80%;
         font-size: 120px;
     }
    @media screen and (min-width:$breakpoint-xlarge){
       // top: 80%;
      font-size: 160px;
      //letter-spacing: 4px;
    }
}
}

.mt-25 {
    margin-top: 25px;
}

.responsive-margin {
    @media screen and (min-width:$breakpoint-small){
        margin-top: 30px;
    }
    @media screen and (min-width:$breakpoint-medium){
        margin-top: 40px;
    }
    @media screen and (min-width:$breakpoint-large){
        margin-top: 50px;
    }
    @media screen and (min-width:$breakpoint-xlarge){
        margin-top: 50px;
    }
}

.mt-50 {
    margin-top: 50px;
}

    
.mt-15 {
    margin-top: 15px;
}

// Padding
.pr-15 {
    @media screen and (min-width:$breakpoint-medium){
        padding-right: 15px;
    }
}
.wp-block-spacer{
    display: none;
}
.mt-100 {
    margin-top:100px;
}