    // * Header
    .header-overlay {
        position: relative;
        width: 100%;
        &:after {
            content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(76, 175, 221, 0.8);
        opacity: 1;
        transition: all 1s;
        -webkit-transition: all 1s;
        }
        .header-bg-image {
            width: 100%;
            vertical-align: top;
            
        }
    }

    .page-title{
        color: #fff !important;
        position: absolute;
        top: 35%;
        left: 50%;
        letter-spacing: 4px;
        transform: translate(-50%, -50%);
        &:after {
            content: none;
        }
    }
    
    .triangle-divider{
        position: relative;
        border-bottom: 50px solid #fff;
        width: 100%;
        min-height: 1vh;
        .triangles{
            position: absolute;
            bottom: 0;
            background: #fff;
            padding-top: 3%;
            width: 100%;
            height: auto;
            svg{
                position: absolute;
                bottom: 100%;
                transform: scaleY(6);
                //width: 1000px;
                //height: 100px;
                &:not(:root){
                -webkit-transform: scaleY(6);
                -moz-transform: scaleY(6);
                -ms-transform: scaleY(6);
                -o-transform: scaleY(6);
    
                        overflow: hidden;
                        display: block;
                        width: 100%;
                        height: auto;
                        max-height: 100%;
                }	
            }
        }
    }

    .wpsl-search {
        color: #fff;
        background-color: #4a4a49;
    }

    .dealer-subtitle {
        color: #000;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 17px;
        margin: 100px 0 20px 0;
    }

    .dealer-title {
        color: #000;
        font-size: 80px;
        letter-spacing: 2px;
        line-height: 70px;
        margin: 0 0 0 0;
    }

    .store-section{
        h3{
            font-family: antidotum;
            color: #000;
            font-size: 48px;
            line-height: 70px;
            margin: 100px 0 0 0;
        }
        hr {
            margin: 0 0 30px 0;
            border-top: 3px solid #0b8dcd;
        }
        .dealer-stores {
            display: flex;
            .uk-card-body {
                background-color: #eeeeee;
                padding: 20px; 
            }
            .store-title {
                color: $primaryblue;
                font-size: 22px;
                letter-spacing: 1.76px;
                font-weight: 800;
            }
            .store-address {
                color: #000;
                font-size: 22px;
            }
            .btn-contact {
                cursor: pointer;
                background-color: #ff8000;
                text-transform: uppercase;
                color: #fff;
                font-size: 24px;

                padding: 15px 0 15px 0;
                margin: 30px 0 0 0;
            }

            .store-logo {
                width: 20%;
                float: right;
            }
            .card-hidden {
                visibility: hidden;
            }
        }
    }
    