$primarygrey: #eeeeee;


// Single Product Page
.product-feature-image {
	position: absolute;
    top: 25%;
    width: 50%;
}

.product_title {
    color: #000;
    margin-bottom: 0 !important;
    font-size: 110px;
    letter-spacing: 5.5px;
    &:after {
        content: none;
    }
}

.price {
    font-size: 60px !important;
    margin-bottom: 30px;
    font-family: $antidotum;
}

.woocommerce-product-details__short-description {
    background-color: $primarygrey;
    padding: 20px;
    border-left: 10px solid $primaryblue;
    font-size: 26px;
}

.woocommerce div.product div.summary {
    margin-bottom: 0 !important;
}

.cart {
    margin-top: 50px;
}

.sku_wrapper, .posted_in {
    display: none;
}


// Tabs
    .tabs {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        font-size: 34px;
        letter-spacing: 3.4px;
        font-family: antidotum;
        li{
            a{
                &:focus {
                    color: #fff !important;
                }
            }
        }
    }
    
    .woocommerce-tabs {
        margin-top: 50px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
        background: $primaryblue !important;
        border-bottom-color: $primaryblue !important;
        color: #fff !important;
        &:hover {
            color: #fff !important;
        }
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs::before {
        border-bottom: 4px solid $primaryblue !important;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        background-color: white !important;
        border: none !important;
    }
    
    .layout-title {
        color: #fff;
        background-color: #008dcf;
        padding: 5px;
        margin: 0;
        font-size: 34px;
        letter-spacing: 0.85px;
    }
    
    .grey-container {
        background-color: $primarygrey;
        padding: 27px 0 13px 20px;
        border-left: 5px solid $primaryblue;
        color: #000;
        font-weight: 600;
    ol{
        list-style: none;
        counter-reset: my-awesome-counter;
        font-size: 24px;
        font-weight: bold;
        li{
            counter-increment: my-awesome-counter;
            margin: 0 0 20px 0;   
            &::before{
                content: counter(my-awesome-counter) " ";
                color: #fff;
                background: #000;
                margin-right: 35px;
                padding: 1px 4px 2px 8px;
                line-height: 40px;
                border-radius: 50%;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    }
    
    .btn-blue {
        color: #fff;
        background-color: $primaryblue;
        &:hover {
            color: #fff;
            background-color: $primaryblue;  
        }
    }

    .woocommerce-Reviews-title {
        display: none;
    }

// Related Products
.related {
    h2 {
        color: #000;
        margin-bottom: 0 !important;
        font-size: 110px;
        line-height: 195px;
        letter-spacing: 5.5px;
        text-align: center;
        &:after {
            content: none;
        }
    }
    .woocommerce-loop-product__title {
        line-height: 1.3 !important;
        letter-spacing: 0 !important;
    } 
}